<div class="row" ng-init="font()">
    <div class="col-sm-12">
        <div class="col-sm-8">
            <input id="finish123" ng-model="start" type="text" class="form-control" />
        </div>
        <div class="col-sm-4 fontchange" style="color: white;font-size: 16px">
            تاریخ شروع
        </div>
    </div>
    <div class="col-sm-12" style="margin-top: 40px">
        <div class="col-sm-8">
            <input id="start123" type="text" ng-model="finish" class="form-control" />
        </div>
        <div class="col-sm-4" style="color: white;font-size: 16px">
            تاریخ پایان
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 my-margin-top">
        <span style="color: white;float: right">عنوان قرار</span>
        <textarea class="my-textarea" ng-model="title"></textarea>
        <button class="btn btn-danger my-margin-top" style="margin-bottom: 5px;" ng-click="calendarsubmit(start,finish,title)">ثبت</button>
    </div>
</div>
<script>
    $(function () {
        $("#elementId, .elementClass").persianDatepicker();
        $("#pdpDefault").persianDatepicker({ alwaysShow: false, showGregorianDate: true });
        $("#start123").persianDatepicker({ cellWidth: 40, cellHeight: 40, fontSize: 18, showGregorianDate: true });
        $("#finish123").persianDatepicker({ cellWidth: 40, cellHeight: 40, fontSize: 18, showGregorianDate: true });
    });

</script>>