<div class="dropdown" >
    <div class="row ">
        <div class="col-sm-12 container-filter right-align">
            <i class="fa fa-bars pointer" ng-click="mainSystem()" style="margin-right: 15px;"></i>
        </div>
        <div class="col-sm-12" ng-init="systemToShow()">
            <div class="row">
                <div ng-repeat="system in subSystemSituation" class="col-sm-2 my-margin-top right-float " style="padding-right: 25px">
                    <div class="border transform">
                         <div class="col-sm-2 col-sm-push-10 sub-color shadow center container-filter" ng-style="system.style2">
                            <i class="fa system-icon fa-calculator"></i>
                        </div> 
                        <div  class="col-sm-10 col-sm-pull-2 color shadow center pointer container-filter color" >
                            <p class="fontchange" style="font-size: 15px" ng-click="drop(system.id)">{{system.title}}
                                <i class="fa fa-angle-down " style="vertical-align: middle"></i>
                            </p>
                            <div class="col-sm-8 right-align subsystem color" id="dropdown{{system.id}}">
                                <p ng-repeat="subsystem in system.children" class="pointer fontchange" ng-click="subSystem(subsystem.parent,subsystem.id)">
                                    {{subsystem.title}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal for access to main systems-->
<div class="modal fade" id="mainSystems" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content my-modal">
            <div class="modal-body center" style="min-height:0px" ng-init="gettingSystemJson()">
                <div class="row">
                    <div class=" my-margin-top col-sm-4" ng-repeat="system in system" style="padding: 15px;" ng-init="theme()">
                        <div class="row">
                            <div class="modal-container transform pointer color"  ng-click="systemToLoad(system.id)">
                                <i class="fa system-icon" ng-class="system.icon"></i>
                                <h5 class="pointer fontchange">{{system.title}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#mainSystems').on('show.bs.modal', function () {
        $("nav").addClass("nav-filter")
        $(".effect").css("filter", "blur(10px)")
        $(".container-filter").css("filter", "blur(10px)")
        $(".container-filter a").css("pointer-events", 'none')
        $("nav a").css("pointer-events", 'none')
        $("nav i").css("pointer-events", 'none')
    })
    $('#mainSystems').on('hide.bs.modal', function () {
        $("nav").removeClass("nav-filter")
        $(".effect").css("filter", "none")
        $(".container-filter").css("filter", "none")
        $(".container-filter a").css("pointer-events", '')
        $("nav a").css("pointer-events", '')
        $("nav i").css("pointer-events", '')
        $(".effect").css("filter", "none")
    })

</script>