<div ng-init="users()" id="myDemo1" style="height: 72vh; overflow-y: scroll;position: relative">
    <div class="col-sm-12 my-margin-top">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
            <select style="font-size: 15px;width: 40%;height: 22px;" ng-model="pagelength" ng-change="paginationRow(pagelength)">
                <option value="5"> 5</option>
                <option value="10"> 10</option>
                <option value="15"> 15</option>
            </select>
        </div>
        <div class="col-sm-2">
            <label>تعداد نمایش در جدول</label>
        </div>
    </div>
    <div class="col-sm-12 my-margin-top">
        <div class="table-responsive printable my-margin-top">
            <table class="table table-hover table-bordered right-align">
                <thead>
                    <tr>
                        <th style="width: 150px;">
                            نام کاربری
                        </th>
                        <th style="width: 300px;" ng-if="isAuth('tdName',1)" id="thName">نام </th>
                        <th style="width: 300px" ng-if="isAuth('tdFamily',1)">نام خانوادگی</th>
                        <th style="width: 300px" ng-if="isAuth('tdFatherName',4)">نام پدر</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-step="4" data-intro="فرد مورد نظر برای  ویرایش را انتخاب کنید" data-position='right' ng-mouseenter="hover = true"
                        ng-mouseleave="hover = false" class="user" ng-repeat="data in limitedEdition" id="user{{data.user.id}}"
                        ng-click="editUser(data.user.id)">
                        <td ng-style="tableFont">{{data.user.name}}</td>
                        <td ng-style="tableFont" ng-if="isAuth('tdName',1)">{{data.personnel.name}}</td>
                        <td ng-style="tableFont" ng-if="isAuth('tdFamily',1)">{{data.personnel.family}}</td>
                        <td ng-style="tableFont" style="width: 50px;" ng-if="isAuth('tdFatherName',4)">
                            <p style="line-height: 0.2cm;margin: 5px">{{data.personnel.fatherName}}
                                <i class="fa fa-pencil-square-o pointer" onmouseenter="$(this).tooltip('show')" ng-if="hover" style="float: left" data-toggle="modal"
                                    data-target="#tableEdit" data-toggle="tooltip" data-placement="right" title="ویرایش {{data.personnel.name}} {{data.personnel.family}}"></i>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-3" style="text-align: left">
                <i class="fa fa-plus-square-o pointer" data-toggle="modal" data-target="#tablePlusUser" data-toggle="tooltip" data-placement="right"
                    title="اضافه کردن کاربر" onmouseenter="$(this).tooltip('show')" data-step="5" data-intro="برای ایجاد فرد جدید کلیک کنید"
                    data-position='right'></i>
            </div>
            <div class="col-sm-5 center">
                <ul class="pagination" style="margin: 0">
                    <li><a href="#" style="color: black" ng-click="paginationToShow(1)"><i class="fa fa-angle-double-left" ></i></a></li>
                    <li><a href="#" style="color: black" ng-click="finalPagination(currentPage - 1,false,'http://localhost/ArisSystem/api/user' )"><i class="fa fa-angle-left"></i></a></li>
                    <li ng-repeat="x in pages" id="userpagination{{x}}"><a href="#" ng-click="finalPagination(x,false,'http://localhost/ArisSystem/api/user')">{{x}}</a></li>
                    <li><a href="#" style="color: black" ng-click="finalPagination(currentPage + 1,false,'http://localhost/ArisSystem/api/user' )"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#" style="color: black" ng-click="paginationToShow('last')"><i class="fa fa-angle-double-right" ></i></a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                {{currentPage}} /{{paginationNumber[paginationNumber.length-1]}}
            </div>
        </div>
    </div>
</div>
<div id="tablePlusUser" class="modal fade" role="dialog" ng-keydown="detector($event)" tabindex="2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body container right-align" draggable="true" style="background-color: #E0E0E0">
                <form name="registering" ng-submit="registerUser(register,test)" data-step="6" data-intro="فرم را پر کرده و دکمه ثبت را کلیک کنید"
                    data-position='right'>
                    <div class="row">
                        <div class="col-sm-12">
                            <p id="registerAlarm" class="red" style="animation: testing 2s infinite steps(1)"></p>
                            <div class="row">
                                <div class="col-sm-6 col-sm-push-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="usr">نام:</label>
                                                <input type="text" ng-model="register.name" class="form-control" style="height: 30px !important" id="name" placeholder="نام"
                                                    autocomplete="on" required autofocus oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                    oninput="setCustomValidity('')" tabindex="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-pull-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="family">نام خانوادگی:</label>
                                                <input type="text" ng-model="register.family" class="form-control" style="height: 30px !important" id="family" autocomplete="on"
                                                    placeholder=" نام خانوادگی" required ng-model="register.family" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                    oninput="setCustomValidity('')" tabindex="2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-6 col-sm-push-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="father">نام پدر:</label>
                                                <input type="text" class="form-control" style="height: 30px !important" id="father" autocomplete="on" placeholder="نام پدر"
                                                    required ng-model="register.fatherName" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                    oninput="setCustomValidity('')" tabindex="3">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>جنسیت:</label>
                                                <br>
                                                <label class="radio-inline"><input type="radio" tabindex="4" name="registerGender" value="1" ng-model="register.gender" required />زن</label>
                                                <label class="radio-inline"><input type="radio" tabindex="4" name="registerGender"  value="0" ng-model="register.gender" checked required  />مرد</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-pull-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="file" ng-click="fileSelect('plusPhoto')" ng-if="!imgLoading">
                                                    <i class="fa fa-user" style="font-size: 102px;margin-right: 62px;background-color: lightgray;padding: 5px 24px"></i>
                                            </label>
                                            <img src="" ng-if="imgLoading" id="myimg" ng-click="fileSelect('plusPhoto')" style="height: 120px;width: auto;margin: 0 auto;display: none;border-radius: 5px">
                                            <input type="file" style="height: 30px !important" id="plusPhoto" required ng-model="register.photo" ng-change="testUpload()"
                                                oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')" oninput="setCustomValidity('')"
                                                tabindex="5">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-6 col-sm-push-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="id-badge">شماره شناسنامه:</label>
                                                <input type="text" class="form-control" style="height: 30px !important" id="id-badge" autocomplete="on" placeholder="شماره شناسنامه"
                                                    required ng-model="register.birthCertificateNo" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                    oninput="setCustomValidity('')" tabindex="6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-pull-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="social-no">کد ملی:</label>
                                                <input type="text" class="form-control right-align" style="height: 30px !important;direction: ltr;" id="social-no" autocomplete="on"
                                                    placeholder="XXX-XXXXXX-X" required ng-model="register.nationalCode" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                    oninput="setCustomValidity('')" autocomplete="on" tabindex="7">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-6 col-sm-push-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="phone">شماره موبایل:</label>
                                                <input type="tel" class="form-control" style="height: 30px !important" id="phone" autocomplete="on" placeholder="شماره موبایل"
                                                    required ng-model="register.mobileNo" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                    oninput="setCustomValidity('')" tabindex="8">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-pull-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="phone">شماره پرسنلی :</label>
                                            <input type="text" class="form-control" style="height: 30px !important" id="personnel" autocomplete="on" placeholder="شماره پرسنلی"
                                                required ng-model="register.personnelCode" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                oninput="setCustomValidity('')" tabindex="9">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-6 col-sm-push-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="email">email:</label>
                                                <input type="email" class="form-control" style="height: 30px !important" id="email" autocomplete="on" placeholder="ایمیل"
                                                    required ng-model="register.mail" oninvalid="this.setCustomValidity('ایمیل نامعتبر است')"
                                                    oninput="setCustomValidity('')" tabindex="10">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-pull-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="activity">نوع کاربری :</label>
                                                <select style="height: 30px;width: 100% !important;font-size: 12px" ng-model="register.isActive" tabindex="11" class="form-control my-form"
                                                    name="kindDocument">
                                                    <option value="true"  selected>فعال</option>
                                                    <option value="false" >غیرفعال</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-6 col-sm-push-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="user-name">نام کاربری:</label>
                                                <input type="text" class="form-control" ng-keypress="myfocus = true" ng-blur="myfocus = false" style="height: 30px !important;"
                                                    name="testing1" id="user-name" ng-minlength="3" ng-maxlength="10" autocomplete="on"
                                                    placeholder="نام کاربری" required ng-model="register.userName" ng-model-options="{debounce: 500}"
                                                    val="username" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                    oninput="setCustomValidity('')" tabindex="12">
                                                <p class="red" style="position: absolute; top: 32px;" ng-if="!registering.testing1.$valid && myfocus">تعداد کاراکترها صحیح نمیباشد </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-pull-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="password">رمز عبور:</label>
                                                <input type="password" class="form-control" style="height: 30px !important" id="password" autocomplete="on" placeholder="رمز عبور"
                                                    required ng-model="register.passwordHash" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                    oninput="setCustomValidity('')" tabindex="13">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12 my-margin-top">
                                    <button class="btn btn-danger" type="submit" tabindex="14" style="float: left;width: 22%" value="1" id="button1" ng-click="register.close = 1">ثبت و خروج</button>
                                    <button class="btn btn-danger" type="submit" tabindex="15" style="float: left; margin-left: 15px;width: 22%" id="button2"
                                        ng-click="register.close = 2" value="2">ثبت و جدید</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="tableEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body container right-align" style="background-color:#ECECEC">
                <i class="fa fa-chevron-circle-left" style="position: absolute;top: 45%;left: -12%;font-size: 50px;" ng-click="editUserSlide(1)"></i>
                <i class="fa fa-chevron-circle-right" style="position: absolute;top: 45%;right: -12%;font-size: 50px;" ng-click="editUserSlide(-1)"></i>
                <p id="editMessage" class="green" style="animation: testing 2s infinite steps(1)"></p>
                <form ng-submit="editSubmit(editor,editingUserData.personnelName)">
                    <div class="row" style="direction: rtl">
                        <div class="col-sm-6 right-float">
                            <div class="form-group change" ng-if="isAuth('tdName',4)">
                                <label for="usr">نام:</label>
                                <input type="text" ng-model="$parent.editor.name" class="form-control" style="height: 30px !important" value="{{editingUserData.personnelName}}"
                                    id="edit-name" placeholder="نام" tabindex="1">
                            </div>
                        </div>
                        <div class="col-sm-6 right-float">
                            <div class="form-group change" ng-if="isAuth('tdFamily',4)">
                                <label for="family">نام خانوادگی:</label>
                                <input type="text" class="form-control" style="height: 30px !important" id="edit-family" value="{{editingUserData.personnelFamily}}"
                                    ng-model="$paren.editor.family" placeholder=" نام خانوادگی" tabindex="2">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 right-float">
                            <div class="form-group change" ng-if="isAuth('tdFatherName',4)">
                                <label for="father">نام پدر:</label>
                                <input type="text" class="form-control" ng-model="$parent.editor.fatherName" style="height: 30px !important" value="{{editingUserData.personnelFatherName}}"
                                    id="edit-father" placeholder="نام پدر" tabindex="3">
                            </div>
                            <div class="form-group change">
                                <h5 style="direction: rtl;color: #808080; ">جنسیت:</h5>
                                <label class="radio-inline"><input type="radio" tabindex="4" name="gender" value="1" ng-model="editor.gender" required />زن</label>
                                <label class="radio-inline"><input type="radio" tabindex="4" name="gender"  value="0" ng-model="editor.gender" checked required  />مرد</label>
                            </div>
                        </div>
                        <div class="col-sm-6 right-float">
                            <div class="form-group change">
                                <label for="id-badge" ng-click="fileSelect('editPhoto')">
                                    <img src="media/1.jpg" style="width: 55%;margin: auto;display: block;border-radius: 5px">
                                </label>
                                <input type="file" class="form-control" id="editPhoto" style="height: 30px !important" tabindex="5">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 right-float">
                            <div class="form-group change">
                                <label for="id-badge">شماره شناسنامه:</label>
                                <input type="text" class="form-control" ng-model="editor.birthCertificateNo" style="height: 30px !important" id="edit-id-badge"
                                    value="{{editingUserData.personnelId}}" placeholder="شماره شناسنامه" tabindex="6">
                            </div>
                        </div>
                        <div class="col-sm-6 right-float">
                            <div class="form-group change">
                                <label for="social-no">کد ملی:</label>
                                <input type="text" class="form-control right-align" ng-model="editor.nationalCode" style="height: 30px !important;direction: ltr;"
                                    id="edit-social-no" value="{{editingUserData.nationalCode}}" placeholder="XXX-XXXXXX-X" tabindex="7">
                            </div>
                        </div>
                        <div class="col-sm-6 right-float">

                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 right-float">
                            <div class="form-group change">
                                <label for="personnelCode">کد پرسنلی:</label>
                                <input type="text" class="form-control" ng-model="editor.personnelCode" style="height: 30px !important" id="personnelCode"
                                    value="{{editingUserData.personnelCode}}" placeholder="شماره شناسنامه" tabindex="8">
                            </div>
                        </div>
                        <div class="col-sm-6 right-float">
                            <div class="form-group change">
                                <label for="phone">شماره موبایل:</label>
                                <input type="tel" class="form-control" ng-model="editor.phone" style="height: 30px !important" id="edit-phone" value="{{editingUserData.phone}}"
                                    placeholder="شماره موبایل" tabindex="9">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 right-float">
                            <div class="form-group change">
                                <label for="email">email:</label>
                                <input type="email" class="form-control" ng-model="editor.email" style="height: 30px !important" id="edit-email" value="{{editingUserData.email}}"
                                    placeholder="example@exa.com" tabindex="10">
                            </div>
                        </div>
                        <div class="col-sm-6 right-float">
                            <div class="form-group">
                                <label for="activity">نوع کاربری :</label>
                                <select id="activation" tabindex="11" style="height: 30px;width: 100% !important;font-size: 12px" ng-model="editor.isActive"
                                    tabindex="11" class="form-control my-form">
                                    <option value="true">فعال</option>
                                    <option value="false">غیرفعال</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 right-float">
                            <div class="form-group change">
                                <label for="user-name">نام کاربری:</label>
                                <input type="text" class="form-control" ng-model="editor.userName" style="height: 30px !important" id="edit-user-name" value="{{editingUserData.userName}}"
                                    placeholder="نام کاربری" tabindex="12">
                            </div>
                        </div>
                        <div class="col-sm-6 right-float">
                            <div class="form-group change">
                                <label for="password">رمز عبور:</label>
                                <input type="text" class="form-control" ng-model="editor.passwordHash" style="height: 30px !important" id="edit-password"
                                    value="{{editingUserData.passwordHash}}" placeholder="رمز عبور" tabindex="13">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-danger" type="submit" style="float: left;width: 100%" tabindex="14">ثبت </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    $(".modal").draggable({
        handle: ".modal-body"
    });

</script>
<script>
    $(function () {
        $(".table").resizable({
            animate: true
        });
    });

</script>
<script>
    jQuery(function ($) {
        $("#social-no").mask("999-999999-9");
        $("#edit-social-no").mask("999-999999-9");
    });
    $('#tablePlusUser').on('shown.bs.modal', function () {
        $('#name').focus();
    });

</script>
<script>
    $(function () {
        Ps.initialize(document.getElementById('myDemo1'));
    });

</script>