<div ng-init="users()">
    <hr>
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered right-align" >
                <thead>
                    <tr>
                        <th style="width: 20px;">
                            نام کاربری
                        </th>
                        <th style="width: 30px;">نام </th>
                        <th style="width: 30px">نام خانوادگی</th>
                        <th style="width: 30px">نام پدر</th>
                    </tr>
                </thead>
                <tbody >
                    <tr class="user" ng-repeat="data in limitedEdition" id="user{{data.userId}}" ng-click="editUser(data.userId)">
                        <td ng-style="tableFont">{{data.userName}}</td>
                        <td ng-style="tableFont">{{data.personnelName}}</td>
                        <td ng-style="tableFont">{{data.personnelFamily}}</td>
                        <td ng-style="tableFont">{{data.personnelFatherName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <i class="fa fa-plus-square-o pointer" data-toggle="modal" data-target="#tablePlusUser" data-toggle="tooltip" data-placement="right"
                    title="اضافه کردن کاربر"></i>
                <i class="fa fa-pencil-square-o pointer" data-toggle="modal" data-target="#tableEdit" data-toggle="tooltip" data-placement="right"
                    title="ویرایش اطلاعات کاربران"></i>
            </div>
            <div class="col-sm-4 center">
                <ul class="pagination" style="margin: 0">
                    <li ng-repeat="x in paginationNumber" id="userpagination{{x}}"><a href="#" ng-click="finalPagination(x,false,'http://localhost/ArisSystem/api/user')">{{x}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="tablePlusUser" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body container right-align" draggable="true" style="background-color: #E0E0E0">
                <form ng-submit="registerUser(register,test)">
                    <div class="row">
                        <div class="col-sm-12">
                            <p id="registerAlarm" style="color: red;animation: testing 2s infinite steps(1)"></p>
                            <div class="form-group">
                                <label for="usr">نام:</label>
                                <input type="text" class="form-control" style="height: 30px !important" id="name" placeholder="نام" autocomplete="on" ng-model="register[0]"
                                    required autofocus oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')" oninput="setCustomValidity('')">
                            </div>
                            <div class="form-group">
                                <label for="family">نام خانوادگی:</label>
                                <input type="text" class="form-control" style="height: 30px !important" id="family" autocomplete="on" placeholder=" نام خانوادگی"
                                    required ng-model="register[1]" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                    oninput="setCustomValidity('')">
                            </div>
                            <div class="form-group">
                                <label for="father">نام پدر:</label>
                                <input type="text" class="form-control" style="height: 30px !important" id="father" autocomplete="on" placeholder="نام پدر"
                                    required ng-model="register[2]" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                    oninput="setCustomValidity('')">
                            </div>
                            <div class="form-group">
                                <label for="id-badge">شماره شناسنامه:</label>
                                <input type="text" class="form-control" style="height: 30px !important" id="id-badge" autocomplete="on" placeholder="شماره شناسنامه"
                                    required ng-model="register[3]" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                    oninput="setCustomValidity('')">
                            </div>
                            <div class="form-group">
                                <label for="social-no">کد ملی:</label>
                                <input type="text" class="form-control right-align" style="height: 30px !important;direction: ltr;" id="social-no" autocomplete="on"
                                    placeholder="XXX-XXXXXX-X" required ng-model="register[4]" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                    oninput="setCustomValidity('')" autocomplete="on">
                            </div>
                            <div class="form-group">
                                <label for="phone">شماره موبایل:</label>
                                <input type="tel" class="form-control" style="height: 30px !important" id="phone" autocomplete="on" placeholder="شماره موبایل"
                                    required ng-model="register[5]" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                    oninput="setCustomValidity('')">
                            </div>
                            <div class="form-group">
                                <label for="email">email:</label>
                                <input type="email" class="form-control" style="height: 30px !important" id="email" autocomplete="on" placeholder="ایمیل"
                                    required ng-model="register[6]" oninvalid="this.setCustomValidity('ایمیل نامعتبر است')" oninput="setCustomValidity('')">
                            </div>
                            <div class="form-group">
                                <label for="user-name">نام کاربری:</label>
                                <input type="text" class="form-control" style="height: 30px !important;" id="user-name" autocomplete="on" placeholder="نام کاربری"
                                    required ng-model="register[7]" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                    oninput="setCustomValidity('')">
                            </div>
                            <div class="form-group">
                                <label for="password">رمز عبور:</label>
                                <input type="password" class="form-control" style="height: 30px !important" id="password" autocomplete="on" placeholder="رمز عبور"
                                    required ng-model="register[8]" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                    oninput="setCustomValidity('')">
                            </div>
                            <div>
                                <label class="radio-inline"><input type="radio" name="active" value="1" ng-model="register[9]" required />ارسال لینک فعال سازی به ایمیل</label>
                                <label class="radio-inline"><input type="radio" name="active"  value="2" ng-model="register[9]" checked="checked"  required  />فعال سازی توسط ادمین</label>
                            </div>
                            <button class="btn btn-danger" type="submit" style="float: left" value="1" id="button1" ng-click="test = 1">ثبت و خروج</button>
                            <button class="btn btn-danger" type="submit" style="float: left; margin-left: 15px;" id="button2" ng-click="test = 2" value="2">ثبت و جدید</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="tableEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body container right-align" style="background-color: #E0E0E0">
                <i class="fa fa-chevron-circle-left" style="position: absolute;top: 45%;left: -12%;font-size: 50px;" ng-click="editUserSlide(1)"></i>
                <i class="fa fa-chevron-circle-right" style="position: absolute;top: 45%;right: -12%;font-size: 50px;" ng-click="editUserSlide(-1)"></i>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group change">
                            <label for="usr">نام:</label>
                            <input type="text" class="form-control" style="height: 30px !important" value="{{editingUserData.personnelName}}" id="edit-name"
                                placeholder="نام">
                        </div>
                        <div class="form-group change">
                            <label for="family">نام خانوادگی:</label>
                            <input type="text" class="form-control" style="height: 30px !important" id="edit-family" value="{{editingUserData.personnelFamily}}"
                                placeholder=" نام خانوادگی">
                        </div>
                        <div class="form-group change">
                            <label for="father">نام پدر:</label>
                            <input type="text" class="form-control" style="height: 30px !important" value="{{editingUserData.personnelFatherName}}" id="edit-father"
                                placeholder="نام پدر">
                        </div>
                        <div class="form-group change">
                            <label for="id-badge">شماره شناسنامه:</label>
                            <input type="text" class="form-control" style="height: 30px !important" id="edit-id-badge" value="{{editingUserData.personnelId}}"
                                placeholder="شماره شناسنامه">
                        </div>
                        <div class="form-group change">
                            <label for="social-no">کد ملی:</label>
                            <input type="text" class="form-control right-align" style="height: 30px !important;direction: ltr;" id="edit-social-no" value="{{editingUserData.nationalCode}}"
                                placeholder="XXX-XXXXXX-X">
                        </div>
                        <div class="form-group change">
                            <label for="personnelCode">کد پرسنلی:</label>
                            <input type="text" class="form-control" style="height: 30px !important" id="personnelCode" value="{{editingUserData.personnelCode}}"
                                placeholder="شماره شناسنامه">
                        </div>
                        <div class="form-group change">
                            <label for="phone">شماره موبایل:</label>
                            <input type="tel" class="form-control" style="height: 30px !important" id="edit-phone" value="{{editingUserData.phone}}"
                                placeholder="شماره موبایل">
                        </div>
                        <div class="form-group change">
                            <label for="email">email:</label>
                            <input type="email" class="form-control" style="height: 30px !important" id="edit-email" value="{{editingUserData.email}}"
                                placeholder="example@exa.com">
                        </div>
                        <div class="form-group change">
                            <label for="user-name">نام کاربری:</label>
                            <input type="text" class="form-control" style="height: 30px !important" id="edit-user-name" value="{{editingUserData.userName}}"
                                placeholder="نام کاربری">
                        </div>
                        <div class="form-group change">
                            <label for="password">رمز عبور:</label>
                            <input type="text" class="form-control" style="height: 30px !important" id="edit-password" value="{{editingUserData.passwordHash}}"
                                placeholder="رمز عبور">
                        </div>
                        <div>
                            <label class="radio-inline"><input type="radio" name="activation" value="true" >فعال</label>
                            <label class="radio-inline"><input type="radio" name="activation"  value="false" >غیرفعال</label>
                        </div>
                        <button class="btn btn-danger" style="float: left">ثبت </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $(".modal").draggable({
        handle: ".modal-body"
    });

</script>
<script>
    // $("#tablePlusUser").draggable({
    //     handle: ".modal-header"
    // });
    jQuery(function ($) {
        $("#social-no").mask("999-999999-9");
        $("#edit-social-no").mask("999-999999-9");
    });
    $('#tablePlusUser').on('shown.bs.modal', function () {
        $('#name').focus();

    });

</script>