<div id="myDemo3">
    <div class="col-sm-12 collapse" id="search-form" ng-init="urlMaker('/user/get')">
        <form>
            <div class="row">
                <div class="col-sm-12 left-align">
                    <i class="fa fa-close" ng-click="searchFormToggle()" style="color: gray"></i>
                </div>
                <div class="col-sm-4 right-float">
                    <div class="row">
                        <div class="col-sm-4 left-align col-sm-push-8">
                            <label>نام :</label>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4">
                            <div class="input-group" ng-init="search[0].Col = 'personnel.Name'">
                                <div class="input-group-btn" ng-if="!allow[0]">
                                    <button class="btn center search-button" style="background-color: white;margin-top:0;border-radius: 0;padding: 9px 5px;box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);">
                                        <span style="opacity: 0">شامل</span>
                                    </button>
                                </div>
                                <div class="input-group-btn" ng-if="allow[0]">
                                    <button class="btn center search-button" data-toggle="dropdown" id="first-advanced-search" tabindex="31" style="margin-top:0;border-radius: 0;font-size: 10px;padding: 9px 5px">
                                        <span ng-if="search[0].Operation == null || search[0].Operation == 'Contain'">
                                            شامل
                                        </span>
                                        <span ng-if="search[0].Operation == 'Equal'">
                                            برابر
                                        </span>
                                        <span ng-if="search[0].Operation == 'NotEqual'">
                                            مخالف
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" ng-style="testFont" aria-labelledby="first-advanced-search">
                                        <li ng-click="search[0].Operation = 'Contain'">
                                            شامل
                                        </li>
                                        <li ng-click="search[0].Operation = 'Equal'">
                                            برابر
                                        </li>
                                        <li ng-click="search[0].Operation = 'NotEqual'">
                                            مخالف
                                        </li>
                                    </ul>
                                </div>
                                <input class="form-control right-align login-input" ng-focus="allow[0] = true" ng-blur="search[0].Value ? allow[0] = true : allow[0] = false"
                                    type="text" style="border-left: none" ng-model="search[0].Value" />
                                <div ng-if="search[0].Value != null" style="position: absolute;display: inline-block;left: 33px">
                                    <i class="fa fa-close" ng-click="search[0].Value = null;allow[0] = false" style="color: gray"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 right-float">
                    <div class="row">
                        <div class="col-sm-4 col-sm-push-8 left-align">
                            <label>نام خانوادگی :</label>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4">
                            <div class="input-group" ng-init="search[1].Col = 'personnel.family'">
                                <div class="input-group-btn" ng-if="!allow[1]">
                                    <button class="btn center search-button" style="background-color: white;margin-top:0;border-radius: 0;padding: 9px 5px;box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);">
                                        <span style="opacity: 0">شامل</span>
                                    </button>
                                </div>
                                <div class="input-group-btn" ng-if="allow[1]">
                                    <button class="btn center search-button" data-toggle="dropdown" id="second-advanced-search" tabindex="31" style="margin-top:0;border-radius: 0;font-size: 10px;padding: 9px 5px">
                                        <span ng-if="search[1].Operation == null || search[1].Operation == 'Contain'">
                                            شامل
                                        </span>
                                        <span ng-if="search[1].Operation == 'Equal'">
                                            برابر
                                        </span>
                                        <span ng-if="search[1].Operation == 'NotEqual'">
                                            مخالف
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" ng-style="testFont" aria-labelledby="second-advanced-search">
                                        <li ng-click="search[1].Operation = 'Contain'">
                                            شامل
                                        </li>
                                        <li ng-click="search[1].Operation = 'Equal'">
                                            برابر
                                        </li>
                                        <li ng-click="search[1].Operation = 'NotEqual'">
                                            مخالف
                                        </li>
                                    </ul>
                                </div>
                                <input class="form-control right-align login-input" ng-focus="allow[1] = true"   ng-blur="search[1].Value ? allow[1] = true : allow[1] = false" style="border-left: none" type="text" ng-model="search[1].Value" />
                                <div ng-if="search[1].Value != null" style="position: absolute;display: inline-block;left: 33px">
                                    <i class="fa fa-close" ng-click="search[1].Value = null; allow[1] = false" style="color: gray"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 right-float">
                    <div class="row">
                        <div class="col-sm-4 col-sm-push-8 left-align">
                            <label>نام پدر :</label>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4">
                            <div class="input-group" ng-init="search[2].Col = 'personnel.fatherName'">
                                    <div class="input-group-btn" ng-if="!allow[2]">
                                            <button class="btn center search-button" style="background-color: white;margin-top:0;border-radius: 0;padding: 9px 5px;box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);">
                                                <span style="opacity: 0">شامل</span>
                                            </button>
                                        </div>
                                <div class="input-group-btn" ng-if="allow[2]">
                                    <button class="btn center search-button" data-toggle="dropdown" id="third-advanced-search" tabindex="31" style="margin-top:0;border-radius: 0;font-size:10px;padding: 9px 5px;">
                                        <span ng-if="search[2].Operation == null || search[2].Operation == 'Contain'">
                                            شامل
                                        </span>
                                        <span ng-if="search[2].Operation == 'Equal'">
                                            برابر
                                        </span>
                                        <span ng-if="search[2].Operation == 'NotEqual'">
                                            مخالف
                                        </span>
                                    </button>

                                    <ul class="dropdown-menu" ng-style="testFont" aria-labelledby="third-advanced-search">
                                        <li ng-click="search[2].Operation = 'Contain'">
                                            شامل
                                        </li>
                                        <li ng-click="search[2].Operation = 'Equal'">
                                            برابر
                                        </li>
                                        <li ng-click="search[2].Operation = 'NotEqual'">
                                            مخالف
                                        </li>
                                    </ul>
                                </div>
                                <input class="form-control right-align login-input" ng-focus="allow[2] = true"   ng-blur="search[2].Value ? allow[2] = true : allow[2] = false" style="border-left: none" type="text" ng-model="search[2].Value" />
                                <div ng-if="search[2].Value != null" style="position: absolute;display: inline-block;left: 33px">
                                    <i class="fa fa-close" ng-click="search[2].Value = null;allow[2] = false" style="color: gray"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-4 my-margin-top right-float">
                    <div class="row">
                        <div class="col-sm-4 left-align col-sm-push-8">
                            <label>شماره شناسنامه :</label>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4">
                            <div class="input-group" ng-init="search[3].Col = 'personnel.birthCertificate.No'">
                                    <div class="input-group-btn" ng-if="!allow[3]">
                                            <button class="btn center search-button" style="background-color: white;margin-top:0;border-radius: 0;padding: 8.8px 5px;box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);">
                                                <span style="opacity: 0">شامل</span>
                                            </button>
                                        </div>
                                <div class="input-group-btn" ng-if="allow[3]">
                                    <button class="btn center search-button" data-toggle="dropdown" id="forth-advanced-search" tabindex="31" style="margin-top:0;border-radius: 0;font-size: 10px;padding: 8.8px 5px">
                                        <span ng-if="search[3].Operation == null || search[3].Operation == 'Contain'">
                                            شامل
                                        </span>
                                        <span ng-if="search[3].Operation == 'Equal'">
                                            برابر
                                        </span>
                                        <span ng-if="search[3].Operation == 'NotEqual'">
                                            مخالف
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" ng-style="testFont" aria-labelledby="forth-advanced-search">
                                        <li ng-click="search[3].Operation = 'Contain'">
                                            شامل
                                        </li>
                                        <li ng-click="search[3].Operation = 'Equal'">
                                            برابر
                                        </li>
                                        <li ng-click="search[3].Operation = 'NotEqual'">
                                            مخالف
                                        </li>
                                    </ul>
                                </div>
                                <input class="form-control right-align login-input" ng-focus="allow[3] = true"   ng-blur="search[3].Value ? allow[3] = true : allow[3] = false" style="border-left: none" type="text" ng-model="search[3].Value" />
                                <div ng-if="search[3].Value != null" style="position: absolute;display: inline-block;left: 33px">
                                    <i class="fa fa-close" ng-click="search[3].Value = null;allow[3] = false" style="color: gray"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 my-margin-top right-float">
                    <div class="row">
                        <div class="col-sm-4 left-align col-sm-push-8">
                            <label>کد ملی :</label>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4">
                            <div class="input-group" ng-init="search[4].Col = 'personnel.nationalCode'">
                                    <div class="input-group-btn" ng-if="!allow[4]">
                                            <button class="btn center search-button" style="background-color: white;margin-top:0;border-radius: 0;padding: 8.8px 5px;box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);">
                                                <span style="opacity: 0">شامل</span>
                                            </button>
                                        </div>
                                <div class="input-group-btn" ng-if="allow[4]">
                                    <button class="btn center search-button" data-toggle="dropdown" id="fifth-advanced-search" tabindex="31" style="margin-top:0;border-radius: 0;font-size: 10px;padding: 8.8px 5px">
                                        <span ng-if="search[4].Operation == null || search[4].Operation == 'Contain'">
                                            شامل
                                        </span>
                                        <span ng-if="search[4].Operation == 'Equal'">
                                            برابر
                                        </span>
                                        <span ng-if="search[4].Operation == 'NotEqual'">
                                            مخالف
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" ng-style="testFont" aria-labelledby="fifth-advanced-search">
                                        <li ng-click="search[4].Operation = 'Contain'">
                                            شامل
                                        </li>
                                        <li ng-click="search[4].Operation = 'Equal'">
                                            برابر
                                        </li>
                                        <li ng-click="search[4].Operation = 'NotEqual'">
                                            مخالف
                                        </li>
                                    </ul>
                                </div>
                                <input class="form-control right-align login-input" ng-focus="allow[4] = true"   ng-blur="search[4].Value ? allow[4] = true : allow[4] = false" style="border-left: none" type="text" ng-model="search[4].Value" />
                                <div ng-if="search[4].Value != null" style="position: absolute;display: inline-block;left: 33px">
                                    <i class="fa fa-close" ng-click="search[4].Value = null;allow[4] = false" style="color: gray"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 my-margin-top right-float">
                    <div class="row">
                        <div class="col-sm-4 left-align col-sm-push-8">
                            <label>شماره پرسنلی :</label>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4">
                            <div class="input-group" ng-init="search[5].Col = 'personnel.code'">
                                    <div class="input-group-btn" ng-if="!allow[5]">
                                            <button class="btn center search-button" style="background-color: white;margin-top:0;border-radius: 0;padding: 8.8px 5px;box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);">
                                                <span style="opacity: 0">شامل</span>
                                            </button>
                                        </div>
                                <div class="input-group-btn" ng-if="allow[5]">
                                    <button class="btn center search-button" data-toggle="dropdown" id="sixth-advanced-search" tabindex="31" style="margin-top:0;border-radius: 0;font-size: 10px;padding: 8.8px 5px">
                                        <span ng-if="search[5].Operation == null || search[5].Operation == 'Contain'">
                                            شامل
                                        </span>
                                        <span ng-if="search[5].Operation == 'Equal'">
                                            برابر
                                        </span>
                                        <span ng-if="search[5].Operation == 'NotEqual'">
                                            مخالف
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" ng-style="testFont" aria-labelledby="sixth-advanced-search">
                                        <li ng-click="search[5].Operation = 'Contain'">
                                            شامل
                                        </li>
                                        <li ng-click="search[5].Operation = 'Equal'">
                                            برابر
                                        </li>
                                        <li ng-click="search[5].Operation = 'NotEqual'">
                                            مخالف
                                        </li>
                                    </ul>
                                </div>
                                <input class="form-control right-align login-input" ng-focus="allow[5] = true"   ng-blur="search[5].Value ? allow[5] = true : allow[5] = false" style="border-left: none" type="text" ng-model="search[5].Value" />
                                <div ng-if="search[5].Value != null" style="position: absolute;display: inline-block;left: 33px">
                                    <i class="fa fa-close" ng-click="search[5].Value = null;allow[5] = false" style="color: gray"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-4 my-margin-top right-float">
                    <div class="row">
                        <div class="col-sm-4 left-align col-sm-push-8">
                            <label>جنسیت :</label>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4" ng-init="search[6].Col = 'personnel.gender'">
                            <div class="radio" tabindex="37" style="margin: 0" ng-init="search[6].Operation = 'Equal'">
                                <label>
                                    <input type="radio" name="searchGender" value="1" ng-model="search[6].Value">
                                    <span class="cr" style="top:6px; margin-right: 14px;background-color: white">
                                        <i class="cr-icon fa fa-circle"></i>
                                    </span>
                                    <span>زن</span>
                                </label>
                                <label>
                                    <input type="radio" name="searchGender" value="0" checked ng-model="search[6].Value">
                                    <span class="cr" style="top:6px; margin-right: 14px;background-color: white">
                                        <i class="cr-icon fa fa-circle"></i>
                                    </span>
                                    <span>مرد</span>
                                </label>
                                <label>
                                    <input type="radio" name="searchGender" value=" " checked ng-model="search[6].Value">
                                    <span class="cr" style="top:6px; margin-right: 14px;background-color: white">
                                        <i class="cr-icon fa fa-circle"></i>
                                    </span>
                                    <span>هردو</span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4 my-margin-top right-float">
                    <div class="row">
                        <div class="col-sm-4 left-align col-sm-push-8">
                            <label>شماره موبایل :</label>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4">
                            <div class="input-group" ng-init="search[7].Col = 'mobileNo'">
                                    <div class="input-group-btn" ng-if="!allow[7]">
                                            <button class="btn center search-button" style="background-color: white;margin-top:0;border-radius: 0;padding: 8.8px 5px;box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);">
                                                <span style="opacity: 0">شامل</span>
                                            </button>
                                        </div>
                                <div class="input-group-btn" ng-if="allow[7]">
                                    <button class="btn center search-button" data-toggle="dropdown" id="seventh-advanced-search" tabindex="31" style="margin-top:0;border-radius: 0;font-size: 10px;padding: 8.8px 5px;">
                                        <span ng-if="search[7].Operation == null || search[7].Operation == 'Contain'">
                                            شامل
                                        </span>
                                        <span ng-if="search[7].Operation == 'Equal'">
                                            برابر
                                        </span>
                                        <span ng-if="search[7].Operation == 'NotEqual'">
                                            مخالف
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" ng-style="testFont" aria-labelledby="seventh-advanced-search">
                                        <li ng-click="search[7].Operation = 'Contain'">
                                            شامل
                                        </li>
                                        <li ng-click="search[7].Operation = 'Equal'">
                                            برابر
                                        </li>
                                        <li ng-click="search[7].Operation = 'NotEqual'">
                                            مخالف
                                        </li>
                                    </ul>
                                </div>
                                <input class="form-control right-align login-input" ng-focus="allow[7] = true"   ng-blur="search[7].Value ? allow[7] = true : allow[7] = false" style="border-left: none" type="text" ng-model="search[7].Value" />
                                <div ng-if="search[7].Value != null" style="position: absolute;display: inline-block;left: 33px">
                                    <i class="fa fa-close" ng-click="search[7].Value = null;allow[7] = false" style="color: gray"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 my-margin-top right-float"></div>
                <div class="clearfix"></div>
                <div class="col-sm-4 my-margin-top right-float">
                    <div class="row">
                        <div class="col-sm-4 left-align col-sm-push-8">
                            <label>نام کاربری :</label>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4">
                            <div class="input-group" ng-init="search[8].Col = 'Name'">
                                    <div class="input-group-btn" ng-if="!allow[8]">
                                            <button class="btn center search-button" style="background-color: white;margin-top:0;border-radius: 0;padding: 8.8px 5px;box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);">
                                                <span style="opacity: 0">شامل</span>
                                            </button>
                                        </div>
                                <div class="input-group-btn" ng-if="allow[8]">
                                    <button class="btn center search-button" data-toggle="dropdown" id="eigth-advanced-search" tabindex="31" style="margin-top:0;border-radius: 0;font-size: 10px;padding: 8.8px 5px">
                                        <span ng-if="search[8].Operation == null || search[8].Operation == 'Contain'">
                                            شامل
                                        </span>
                                        <span ng-if="search[8].Operation == 'Equal'">
                                            برابر
                                        </span>
                                        <span ng-if="search[8].Operation == 'NotEqual'">
                                            مخالف
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" ng-style="testFont" aria-labelledby="eigth-advanced-search">
                                        <li ng-click="search[8].Operation = 'Contain'">
                                            شامل
                                        </li>
                                        <li ng-click="search[8].Operation = 'Equal'">
                                            برابر
                                        </li>
                                        <li ng-click="search[8].Operation = 'NotEqual'">
                                            مخالف
                                        </li>
                                    </ul>
                                </div>
                                <input class="form-control right-align login-input" ng-focus="allow[8] = true"   ng-blur="search[8].Value ? allow[8] = true : allow[8] = false" style="border-left: none" type="text" ng-model="search[8].Value" />
                                <div ng-if="search[8].Value != null" style="position: absolute;display: inline-block;left: 33px">
                                    <i class="fa fa-close" ng-click="search[8].Value = null;allow[8] = false" style="color: gray"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 my-margin-top right-float">
                    <div class="row">
                        <div class="col-sm-4 left-align col-sm-push-8" ng-init="search[9].Col = 'isActive'">
                            <label>نوع کاربری :</label>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4" ng-init="search[9].Operation = 'Equal'">
                            <select tabindex="40" ng-model="search[9].Value" style="height: 30px;width: 100% !important;font-size: 12px;direction: rtl"
                                class="form-control my-form" name="kindDocument">
                                <option value="true" selected>فعال</option>
                                <option value="false">غیرفعال</option>
                                <option value=" ">همه موراد</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 my-margin-top right-float">
                    <div class="row">
                        <div class="col-sm-4 left-align col-sm-push-8">
                            <label>email :</label>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4">
                            <div class="input-group" ng-init="search[10].Col = 'email'">
                                    <div class="input-group-btn" ng-if="!allow[10]">
                                            <button class="btn center search-button" style="background-color: white;margin-top:0;border-radius: 0;padding: 8.8px 5px;box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);">
                                                <span style="opacity: 0">شامل</span>
                                            </button>
                                        </div>
                                <div class="input-group-btn" ng-if="allow[10]">
                                    <button class="btn center search-button" data-toggle="dropdown" id="ninth-advanced-search" tabindex="31" style="margin-top:0;border-radius: 0;font-size: 10px;padding: 8.8px 5px">
                                        <span ng-if="search[10].Operation == null || search[10].Operation == 'Contain'">
                                            شامل
                                        </span>
                                        <span ng-if="search[10].Operation == 'Equal'">
                                            برابر
                                        </span>
                                        <span ng-if="search[10].Operation == 'NotEqual'">
                                            مخالف
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" ng-style="testFont" aria-labelledby="ninth-advanced-search">
                                        <li ng-click="search[10].Operation = 'Contain'">
                                            شامل
                                        </li>
                                        <li ng-click="search[10].Operation = 'Equal'">
                                            برابر
                                        </li>
                                        <li ng-click="search[10].Operation = 'NotEqual'">
                                            مخالف
                                        </li>
                                    </ul>
                                </div>
                                <input class="form-control right-align login-input" ng-focus="allow[10] = true"   ng-blur="search[10].Value ? allow[10] = true : allow[10] = false" style="border-left: none" type="text" ng-model="search[10].Value" />
                                <div ng-if="search[10].Value != null" style="position: absolute;display: inline-block;left: 33px">
                                    <i class="fa fa-close" ng-click="search[10].Value = null;allow[10] = false" style="color: gray"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-4 my-margin-top">
                    <div class="row">
                        <div class="col-sm-8 left-align">
                            <button class="btn btn-primary" ng-click="tableSearch(search)">جستجو</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12 my-margin-top">
        <p id="error-message" class="center red"></p>
        <div class="table-responsive printable my-margin-top">
            <table class="table table-hover table-bordered right-align my-margin-top">
                <thead>
                    <tr ng-class="userColor" ng-mouseenter="dotShow = true" ng-mouseleave="dotShow = false">
                        <th ng-if="userPlus"></th>
                        <!-- <th style="width: 150px;">
                            نام کاربری
                        </th>
                        <th style="width: 300px;" ng-if="isAuth('tdName',1)" id="thName">نام </th>
                        <th style="width: 300px" ng-if="isAuth('tdFamily',1)">نام خانوادگی</th>
                        <th style="width: 300px" ng-if="isAuth('tdFatherName',4)">نام پدر</th> -->
                        <th>
                            <i class="fa fa-ellipsis-v pointer" ng-click="searchToggle()" style="float: right;margin-top: 7px"></i>
                            <i class="fa fa-search pointer" ng-if="searchFlag" ng-click="tableSearch(simpleSearch)" style="float: right;margin-top: 7px"></i>
                            <i class="fa fa-search" ng-if="!searchFlag" style="float: right;opacity: 0;margin-top: 7px"></i> نام کاربری
                        </th>
                        <th id="thName">نام </th>
                        <th>نام خانوادگی</th>
                        <th>نام پدر</th>
                    </tr>
                    <tr id="search-part" class="collapse" ng-class="userSubColor">
                        <th ng-init="simpleSearch[3].Col = 'Name'">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn center search-button" data-toggle="dropdown" id="first-drop" tabindex="31" style="margin-top:0;border-radius: 0;">
                                        <span ng-if="simpleSearch[3].Operation == null || simpleSearch[3].Operation == 'Contain'">
                                            شامل
                                        </span>
                                        <span ng-if="simpleSearch[3].Operation == 'Equal'">
                                            برابر
                                        </span>
                                        <span ng-if="simpleSearch[3].Operation == 'NotEqual'">
                                            مخالف
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" ng-style="testFont" aria-labelledby="first-drop">
                                        <li ng-click="simpleSearch[3].Operation = 'Contain'">
                                            شامل
                                        </li>
                                        <li ng-click="simpleSearch[3].Operation = 'Equal'">
                                            برابر
                                        </li>
                                        <li ng-click="simpleSearch[3].Operation = 'NotEqual'">
                                            مخالف
                                        </li>
                                    </ul>
                                </div>
                                <input class="form-control right-align login-input" type="text" ng-model="simpleSearch[3].Value" />
                            </div>
                        </th>
                        <th ng-init="simpleSearch[0].Col = 'personnel.Name'">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn center search-button" data-toggle="dropdown" id="second-drop" tabindex="31" style="margin-top:0;border-radius: 0;">
                                        <span ng-if="simpleSearch[0].Operation == null || simpleSearch[0].Operation == 'Contain'">
                                            شامل
                                        </span>
                                        <span ng-if="simpleSearch[0].Operation == 'Equal'">
                                            برابر
                                        </span>
                                        <span ng-if="simpleSearch[0].Operation == 'NotEqual'">
                                            مخالف
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" ng-style="testFont" aria-labelledby="second-drop">
                                        <li ng-click="simpleSearch[0].Operation = 'Contain'">
                                            شامل
                                        </li>
                                        <li ng-click="simpleSearch[0].Operation = 'Equal'">
                                            برابر
                                        </li>
                                        <li ng-click="simpleSearch[0].Operation = 'NotEqual'">
                                            مخالف
                                        </li>
                                    </ul>
                                </div>
                                <input class="form-control right-align login-input" type="text" ng-model="simpleSearch[0].Value" />
                            </div>
                        </th>
                        <th ng-init="simpleSearch[1].Col = 'personnel.family'">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn center search-button" data-toggle="dropdown" id="third-drop" tabindex="31" style="margin-top:0;border-radius: 0;">
                                        <span ng-if="simpleSearch[1].Operation == null || simpleSearch[1].Operation == 'Contain'">
                                            شامل
                                        </span>
                                        <span ng-if="simpleSearch[1].Operation == 'Equal'">
                                            برابر
                                        </span>
                                        <span ng-if="simpleSearch[1].Operation == 'NotEqual'">
                                            مخالف
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" ng-style="testFont" aria-labelledby="third-drop">
                                        <li ng-click="simpleSearch[1].Operation = 'Contain'">
                                            شامل
                                        </li>
                                        <li ng-click="simpleSearch[1].Operation = 'Equal'">
                                            برابر
                                        </li>
                                        <li ng-click="simpleSearch[1].Operation = 'NotEqual'">
                                            مخالف
                                        </li>
                                    </ul>
                                </div>
                                <input class="form-control right-align login-input" type="text" ng-model="simpleSearch[1].Value" />
                            </div>
                        </th>
                        <th ng-init="simpleSearch[2].Col = 'personnel.fatherName'">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn center search-button" data-toggle="dropdown" id="forth-drop" tabindex="31" style="margin-top:0;border-radius: 0;">
                                        <span ng-if="simpleSearch[2].Operation == null || simpleSearch[2].Operation == 'Contain'">
                                            شامل
                                        </span>
                                        <span ng-if="simpleSearch[2].Operation == 'Equal'">
                                            برابر
                                        </span>
                                        <span ng-if="simpleSearch[2].Operation == 'NotEqual'">
                                            مخالف
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" ng-style="testFont" aria-labelledby="forth-drop">
                                        <li ng-click="simpleSearch[2].Operation = 'Contain'">
                                            شامل
                                        </li>
                                        <li ng-click="simpleSearch[2].Operation = 'Equal'">
                                            برابر
                                        </li>
                                        <li ng-click="simpleSearch[2].Operation = 'NotEqual'">
                                            مخالف
                                        </li>
                                    </ul>
                                </div>
                                <input class="form-control right-align login-input" type="text" ng-model="simpleSearch[2].Value" />
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-style="testfont" data-step="4" data-intro="فرد مورد نظر برای  ویرایش را انتخاب کنید" data-position='right' ng-mouseenter="hover = true"
                        ng-mouseleave="hover = false" class="user" ng-repeat="data in limitedEdition" id="user{{data.id}}" ng-click="editUser(data.id,$index)">
                        <td ng-if="userPlus">
                            <div class="checkbox">
                                <label>
                                    <input class="select chart-check" type="checkbox" value="{{chartElement.id}}">
                                    <span class="cr" style="margin-right: 0px;background-color: white;border: 1px solid gray">
                                        <i class="cr-icon fa fa-check"></i>
                                    </span>
                                </label>
                            </div>
                        </td>
                        <td ng-style="testfont;tableFont" style="width: 200px">{{data.user.name}}</td>
                        <!-- <td ng-style="testfont;tableFont" ng-if="isAuth('tdName',1)">{{data.personnel.name}}</td> -->
                        <td ng-style="testfont;tableFont" style="width: 200px">{{data.personnel.name}}</td>
                        <!-- <td ng-style="testfont;tableFont" ng-if="isAuth('tdFamily',1)">{{data.personnel.family}}</td> -->
                        <td ng-style="testfont;tableFont" style="width: 200px">{{data.personnel.family}}</td>
                        <td ng-style="testfont;tableFont" style="width: 200px;">
                            <p style="line-height: 0.2cm;margin: 5px">{{data.personnel.fatherName}}
                                <i class="fa fa-pencil-square-o pointer" onmouseenter="$(this).tooltip('show')" ng-if="hover" style="float: left" data-toggle="modal"
                                    data-target="#tableEdit" data-toggle="tooltip" data-placement="right" title="ویرایش {{data.personnel.name}} {{data.personnel.family}}"></i>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-3" style="text-align: left">
                <i ng-if="!userPlus" class="fa fa-plus pointer table-accessory-tools" data-toggle="modal" data-target="#tablePlusUser" data-toggle="tooltip"
                    data-placement="right" title="اضافه کردن کاربر" onmouseenter="$(this).tooltip('show')" data-step="5" data-intro="برای ایجاد فرد جدید کلیک کنید"
                    data-position='right'></i>
                <i ng-if="userPlus" class="fa fa-plus pointer table-accessory-tools" ng-click="modalPlus('modal-second-table','modal-third-table',false)"
                    data-toggle="tooltip" data-placement="right" title="اضافه کردن کاربر" onmouseenter="$(this).tooltip('show')"
                    data-step="5" data-intro="برای ایجاد فرد جدید کلیک کنید" data-position='right'></i>
            </div>
            <div class="col-sm-6 center" style="padding: 0">
                <div class="row">
                    <!-- <div class="col-sm-12">
                        <ul class="pagination" style="margin: 0">
                            <li><a href="#" style="color: black" ng-click="paginationToShow(1)"><i class="fa fa-angle-double-right" ></i></a></li>
                            <li><a href="#" style="color: black" ng-click="finalPagination(currentPage - 1,false,'/Aris/api/user' )"><i class="fa fa-angle-right"></i></a></li>
                            <li ng-repeat="x in pages" id="userpagination{{x}}"><a href="#" ng-click="finalPagination(x,false,'/Aris/api/user')">{{x}}</a></li>
                            <li>
                                <a id="pageLink" href="#" style="color:black;padding: 0;height: 40px;min-width: 39px">
                                    <span id="pageSpan" ng-click="findPage(0)">...</span>
                                    <div class="input-group" ng-if="pageToGo" style="width: 80%;margin: 0 auto;direction: ltr;">
                                        <div class="input-group-btn" style="position: absolute;top: 2px">
                                            <button class="btn btn-default log-btn center" style="margin-top:0;background-color: #CF4133" ng-click="findPage(myPageNumber)">
                                                <i style="margin: 0 -3px" class="fa fa-arrow-left"></i>
                                            </button>
                                        </div>
                                        <input class="form-control right-align login-input" ng-model="myPageNumber" type="text" tabindex="2" style="margin-top: 2px;"/>
                                    </div>
                                </a>
                            </li>
                            <li><a href="#" style="color: black" ng-click="finalPagination(currentPage + 1,false,'/Aris/api/user' )"><i class="fa fa-angle-left"></i></a></li>
                            <li>
                                <a href="#" style="color: black" ng-click="paginationToShow('last')">
                                    <i class="fa fa-angle-double-left" ></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                    <div class="col-sm-12">
                        <ul class="pagination" style="margin: 0">
                            <li>
                                <a href="#" style="color: black" data-toggle="tooltip" data-placement="right" title="اولین صفحه" ng-click="finalPagination(1,false,urlToGet )">
                                    <i class="fa fa-angle-double-right" style="margin: 0 auto"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" style="color: black" data-toggle="tooltip" data-placement="right" title="صفحه قبل" ng-click="finalPagination(currentPage - 1,false, urlToGet)">
                                    <i class="fa fa-angle-right" style="margin: 0 auto"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" style="color: black">
                                    <input type="text" class="form-control paginationOrder" ng-model="pagingNumber" ng-keypress="pageOrder(pagingNumber,$event)"
                                        style="font-size: 13px" placeholder="صفحه {{currentPage}} از {{paginationNumber[paginationNumber.length-1]}}">
                                </a>
                            </li>
                            <li>
                                <a href="#" style="color: black" data-toggle="tooltip" data-placement="left" title="صفحه بعد" ng-click="finalPagination(currentPage+1,false,urlToGet )">
                                    <i class="fa fa-angle-left" style="margin: 0 auto"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" style="color: black" data-toggle="tooltip" data-placement="left" title="آخرین صفحه" ng-click="finalPagination(paginationNumber[paginationNumber.length-1],false,urlToGet )">
                                    <i class="fa fa-angle-double-left" style="margin: 0 auto"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 right-align">
                <span data-toggle="tooltip" data-placement="left" title="جستجو پیشرفته">
                    <i class="fa fa-search pointer table-accessory-tools table-accessory-tools-responsive" style="margin-right: 0" ng-click="searchFormToggle()"></i>
                </span>

                <i class="fa fa-gear pointer table-accessory-tools table-accessory-tools-responsive" style="margin-right: 0" ng-click="tableSettingFunction(0)"
                    data-toggle="tooltip" data-placement="left" title="تنظیمات جدول"></i>

                <div class="table-setting container" ng-if="tableSetting">
                    <div class="row">
                        <div class="col-sm-12 right-align">
                            <i class="fa fa-close" ng-click="tableSettingFunction(0)"></i>
                        </div>
                        <div class="col-sm-12 right-align">
                            <label>تعداد ردیف : </label>
                        </div>
                        <div class="col-sm-12 right-align">
                            <select style="font-size: 15px;width: 100%;height: 22px;" ng-model="pagelength" ng-change="paginationRow(pagelength)">
                                <option value="5"> 5</option>
                                <option value="10"> 10</option>
                                <option value="15"> 15</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 my-margin-top">
                            <label>اندازه فونت : </label>
                            <div class="row right-align">
                                <div class="col-sm-4 center" style="color: white;font-size: 16px;">
                                    14
                                </div>
                                <div class="col-sm-4 center" style="color: white;font-size: 16px;">
                                    16
                                </div>
                                <div class="col-sm-4 center" style="color: white;font-size: 16px;">
                                    18
                                </div>
                                <form>
                                    <input type="range" id="fontRange" min="14" max="18" step="2" style="width: 85%;margin: 0 auto;display: block;direction: ltr"
                                        ng-model="size" ng-change="tablefontChange(size)" />
                                </form>
                            </div>
                        </div>
                        <hr style="width: 100%;border-top-color: #BFBFBF">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>export :</label>
                                </div>
                                <div class="col-sm-4 center" style="color: white;font-size: 24px;">
                                    <i class="fa fa-file-pdf-o pointer" style="margin: 0"></i>
                                </div>
                                <div class="col-sm-4 center" style="color: white;font-size: 24px;">
                                    <i class="fa fa-file-excel-o pointer" style="margin: 0"></i>
                                </div>
                                <div class="col-sm-4 center" style="color: white;font-size: 24px;">
                                    <i class="fa fa-file-word-o pointer" style="margin: 0"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tablePlusUser" class="modal fade" role="dialog" ng-keydown="detector($event)" tabindex="2">
    <div class="modal-dialog">
        <div class="modal-body container right-align" draggable="true">
            <button type="button" class="close right-float" style="position: absolute;top: 10px;left: 10px" data-dismiss="modal">&times;</button>
            <div ng-include="'modules/users/creatinguser.html'"></div>
        </div>
    </div>
</div>
</div>
<div id="tableEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close right-float" style="position: absolute;top: 10px;left: 10px" data-dismiss="modal">&times;</button>
            <div class="modal-body container right-align" style="background-color:#ECECEC">
                <button type="button" class="close right-float" style="position: absolute;top: 10px;left: 10px" data-dismiss="modal">&times;</button>
                <i class="fa fa-chevron-circle-left pointer" style="position: absolute;top: 45%;left: -12%;font-size: 50px;" ng-click="editUserSlide(1)"></i>
                <i class="fa fa-chevron-circle-right pointer" style="position: absolute;top: 45%;right: -12%;font-size: 50px;" ng-click="editUserSlide(-1)"></i>
                <p id="editMessage" class="green" style="animation: testing 2s infinite steps(1)"></p>
                <div ng-include="'modules/users/editinguser.html'"></div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="assets/scripts/dargging.js"></script> -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $(".modal").draggable({
            handle: ".modal-body"
        });
        $("#social-no").mask("999-999999-9");
        $("#edit-social-no").mask("999-999999-9");
        $("#search-social-number").mask("999-999999-9");
    });
    $('#tablePlusUser').on('shown.bs.modal', function () {
        $('#name').focus();
    });
    $('#tablePlusUser').on('hidden.bs.modal', function () {
        $('#focusPlace').focus();
    });
</script>