<!-- <form style="min-height: 427px">
    <div class="row">
        <div class="col-sm-12 my-margin-top right-align">
            <p>تعیین فیلتر بر روی شناورها</p>
            <textarea class="my-textarea right-align" tabindex="4" style="height: 90px;"></textarea>
            <button class="btn">...</button>
        </div>
        <div class="col-sm-4 my-margin-top">
            <div class=" my-padding right-align">
                <select tabindex="3" style="height: 35px;margin-right: 21px" class="form-control my-form" name="option">
                    <option value="" disabled selected>همه علائم</option>
                    <option value="">2همه علائم</option>
                </select>
                <label>حوزه بهره بردار</label>
            </div>
        </div>
        <div class="col-sm-4 my-margin-top">
            <div class=" my-padding right-align">
                <input style="height: 35px" type="number" tabindex="2" class="form-control my-form" />
                <label>لغایت سند</label>
            </div>
        </div>
        <div class="col-sm-4 my-margin-top">
            <div class=" my-padding right-align">
                <input style="height: 35px;margin-right: 24px" type="number" tabindex="2" class="form-control my-form" />
                <label>از سند</label>
            </div>
        </div>
        <div class="col-sm-4 my-margin-top"></div>
        <div class="col-sm-4 my-margin-top">
            <div class=" my-padding right-align">
                <input style="height: 35px" type="text" tabindex="2" class="form-control my-form" />
                <label>تاریخ پایان</label>
            </div>
        </div>
        <div class="col-sm-4 my-margin-top">
            <div class=" my-padding right-align">
                <input style="height: 35px" type="text" tabindex="2" class="form-control my-form" />
                <label>تاریخ شروع</label>
            </div>
        </div>
        <div class="col-sm-4 my-margin-top">
            <div class=" my-padding right-align">
                <input style="height: 35px;margin-right: 58px" type="text" tabindex="2" class="form-control my-form" />
                <label>مرجع</label>
            </div>
        </div>
        <div class="col-sm-4 my-margin-top">
            <div class=" my-padding right-align">
                <input style="height: 35px;margin-right: 14px" type="number" tabindex="2" class="form-control my-form" />
                <label>تا مبلغ</label>
            </div>
        </div>
        <div class="col-sm-4 my-margin-top">
            <div class=" my-padding right-align">
                <input style="height: 35px;margin-right: 21px" type="number" tabindex="2" class="form-control my-form" />
                <label>از مبلغ</label>
            </div>
        </div>
        <div class="col-sm-4 my-margin-top center">
            <button class="btn btn-info">
                <i class="fa fa-print"></i>
                چاپ گزارش
            </button>
            <button class="btn btn-info">
                <i class="fa fa-file-text"></i>
                 تهیه گزارش
            </button>
        </div>
        <div class="col-sm-4 my-margin-top">
            <div class=" my-padding right-align">
                <input style="height: 35px;margin-right: 21px" type="number" tabindex="2" class="form-control my-form" />
                <label>شرح</label>
            </div>
        </div>
        <div class="col-sm-4 my-margin-top">
            <div class=" my-padding right-align">
                <select tabindex="3" style="height: 35px;margin-right: 1px" class="form-control my-form" name="option">
                    <option value="" disabled selected>همه علائم</option>
                    <option value="">2همه علائم</option>
                </select>
                <label>نوع گزارش</label>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-sm-12 my-margin-top">
            <div class="table-responsive">
                <table class="table table-hover table-bordered right-align">
                    <thead>
                        <tr>
                            <th style="width: 10px;">ردیف</th>
                            <th style="width: 100px;">شماره پیش نویس</th>
                            <th style="width: 100px;">شماره سند</th>
                            <th style="width: 100px;">تاریخ سند
                            </th>
                            <th style="width: 110px">کد حساب</th>
                            <th style="width: 300px">شرح</th>
                            <th style="width: 100px">مرجع</th>
                            <th style="width: 150px">بدهکار</th>
                            <th style="width: 150px">بستانکار</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>table.row</td>
                            <td>table.title</td>
                            <td>table.description</td>
                            <td>table.owe</td>
                            <td>table.borrow</td>
                            <td>table.situation</td>
                            <td>table.remain</td>
                            <td>table.remain</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                جمع کل
                            </td>

                            <td>200325698
                            </td>
                            <td>200325698
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</form> -->
<div class="container-fluid" id="myDemo1">
    <div class="row">
        <div class="col-sm-12" ng-if="!reportTitling">
            <div class="row">
                <div class="col-sm-4 my-margin-top"></div>
                <div class="col-sm-4 right-align my-margin-top">
                    <i class="fa fa-plus pointer" ng-class="userColor" ng-click="creatReportTitle(reportTitle)" style="color: white;padding: 10px 30px;margin-right: -30px"></i>
                </div>
                <div class="col-sm-4 my-margin-top">
                    <input type="text" class="form-control right-align" ng-model="reportTitle" style="height: 38px;border-radius: 0" ng-style="tableFont" placeholder="عنوان گزارش"/>
                </div>
            </div>
        </div>
        <div class="col-sm-9 my-margin-top" style="height: 72vh; overflow-y: auto">
            <div ng-drop="true" ng-drop-success="makingTableReport($data,$event)" style="color: lightgray">
                {{reportTitle}}
                <br>
                عنوان جدول
            </div>
            <div ng-if="reportTable.length != 0" ng-drop="true" style="min-height: 10vh">
                <div class="row">
                    <div ng-repeat="mytable in reportTable">
                        <div class="table-responsive printable my-margin-top">
                            <table class="table table-hover table-bordered table-striped right-align">
                                <thead ng-drop="true" ng-drop-success="myDrop($data,$event,$index)">
                                    <tr>
                                        <th style="width: 300px;" ng-if="table.col != 0"></th>
                                        <th ng-repeat="data in finalBranch" style="width: 300px;cursor: move">
                                            {{data.name}}
                                            <i class="fa fa-close"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="sortable{{mytable.id}}">
                                    <tr class="user" ng-repeat="row in mytable.row" style="cursor: move">
                                        <td ng-drop="true" colspan="{{finalBranch.length+1}}" ng-drop-success="makingTableRow($data,$event,$index)" ng-if="mytable.col.length != 0">
                                            {{row.name}}
                                            <i class="fa fa-close"></i>
                                        </td>
                                        <!-- <td ng-repeat="data in mytable.col">
                                        </td> -->
                                    </tr>
                                </tbody>
                                <caption ng-if="mytable.length != 0" class="center" ng-style="tableFont">{{mytable.name}}</caption>
                            </table>
                        </div>
                        <div ng-if="finalBranch.length == 0" ng-drop="true" ng-drop-success="myDrop($data,$event,$index)" class="col-sm-12 my-border">
                            ستون ها
                        </div>
                        <div ng-if="mytable.row == undefined" class="col-sm-10 my-border" style="min-height: 50px"></div>
                        <div ng-if="mytable.row == undefined" class="col-sm-2 my-border" ng-drop="true" ng-drop-success="makingTableRow($data,$event,$index)"
                            style="min-height: 50px;">
                            سطرها
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="margin-top: 28px">
            <div ng-init="gettingTree()" class="tree-border">
                <div class="right-align" ng-style="testfont" ng-repeat="tree in treeToShow" style="padding-right: 5px">
                    {{tree.name}}
                    <i class="fa fa-angle-down pointer" id="treeIcon{{tree.id}}" ng-click="nodeSlide(tree.id)"></i>
                    <div id="tree{{tree.id}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/scripts/dargging.js"></script>