<div class="container-fluid" ng-init="urlMaker('/orgchart/get/root/childs')">
    <div class="row" ng-init="firsturlMaker('/orgchart/get/root/childs')">
        <div class="col-sm-12 right-align my-margin-top" style="z-index: 3">
            <span class="pointer path" ng-repeat="path in chartPath" ng-click="orgchartChild(path,'remove',$index)" style="font-size: 12px;padding: 0 5px;">
                / {{path.name}}
            </span>
            <i class="fa fa-sitemap pointer" style="color: #6B6B6B;margin-right: 11px" ng-click="tableView = false"></i>
            <i class="fa fa-th-list pointer" style="color: #6B6B6B;margin-right: 3px" ng-click="tableView = true"></i>

        </div>
        <div class="col-sm-12 my-margin-top" ng-if="tableView">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered right-align">
                            <thead>
                                <tr ng-class="userColor">
                                    <th style="width: 50px"></th>
                                    <th>
                                        <i class="fa fa-ellipsis-v pointer" ng-click="searchToggle()" style="float: right;margin-top: 7px"></i>
                                        <i class="fa fa-search pointer" ng-if="searchFlag" ng-click="tableSearch(search)" style="float: right;margin-top: 7px"></i>
                                        <i class="fa fa-search" ng-if="!searchFlag" style="float: right;opacity: 0;margin-top: 7px"></i> نام پست
                                    </th>
                                </tr>
                                <tr id="search-part" class="collapse" ng-class="userSubColor">
                                    <th></th>
                                    <th>
                                        <input type="text" class="form-control" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in limitedEdition" id="user{{data.id}}">
                                    <td>
                                        <div class="radio" style="padding: 0;margin: 0">
                                            <label>
                                                <input ng-click="orgchartParent(data)" class="select chart-check" type="radio" name="fatherNode">
                                                <span class="cr" style="margin-right: 14px;background-color: white;border: 1px solid gray">
                                                    <i class="cr-icon fa fa-circle"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        {{data.name}}
                                        <i class="fa fa-chevron-left pointer table-special-icon" ng-click="orgchartChild(data,'add',0)" data-toggle="tooltip" data-placement="top"
                                            title="مشاهده فرزندان" style="float: left" onmouseenter="$(this).tooltip('show')"></i>
                                        <i class="fa fa-user-circle-o pointer table-special-icon" data-toggle="modal" data-target="#addingUser" data-toggle="tooltip"
                                            data-placement="top" title="انتساب فرد" style="float: left;margin-left: 15px;" onmouseenter="$(this).tooltip('show')"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: left">
                            <i class="fa fa-plus pointer table-accessory-tools" data-toggle="modal" data-target="#chartPlus" data-toggle="tooltip" data-placement="right"
                                title="اضافه کردن کاربر" onmouseenter="$(this).tooltip('show')" data-step="5" data-intro="برای ایجاد فرد جدید کلیک کنید"
                                data-position='right'></i>
                        </div>
                        <div class="col-sm-6 center" style="padding: 0">
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="pagination" style="margin: 0">
                                        <li>
                                            <a href="#" style="color: black" data-toggle="tooltip" data-placement="right" title="اولین صفحه" ng-click="finalPagination(1,false,urlToGet  )">
                                                <i class="fa fa-angle-double-right" style="margin: 0 auto"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" style="color: black" data-toggle="tooltip" data-placement="right" title="صفحه قبل" ng-click="finalPagination(currentPage - 1,false,urlToGet  )">
                                                <i class="fa fa-angle-right" style="margin: 0 auto"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" style="color: black">
                                                <input type="text" class="form-control paginationOrder" ng-model="pagingNumber" ng-keypress="pageOrder(pagingNumber,$event)"
                                                    style="font-size: 13px" placeholder="صفحه {{currentPage}} از {{paginationNumber[paginationNumber.length-1]}}">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" style="color: black" data-toggle="tooltip" data-placement="left" title="صفحه بعد" ng-click="finalPagination(currentPage + 1,false,urlToGet )">
                                                <i class="fa fa-angle-left" style="margin: 0 auto"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" style="color: black" data-toggle="tooltip" data-placement="left" title="آخرین صفحه" ng-click="finalPagination(paginationNumber[paginationNumber.length-1],false,urlToGet  )">
                                                <i class="fa fa-angle-double-left" style="margin: 0 auto"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 right-align">
                            <i class="fa fa-gear pointer table-accessory-tools" style="margin-right: 0" ng-click="tableSettingFunction(0)" data-toggle="tooltip"
                                data-placement="left" title="تنظیمات جدول"></i>

                            <div class="table-setting container" ng-if="tableSetting">
                                <div class="row">
                                    <div class="col-sm-12 right-align">
                                        <i class="fa fa-close" ng-click="tableSettingFunction(0)"></i>
                                    </div>
                                    <div class="col-sm-12 right-align">
                                        <label>تعداد ردیف : </label>
                                    </div>
                                    <div class="col-sm-12 right-align">
                                        <select style="font-size: 15px;width: 100%;height: 22px;" ng-model="pagelength" ng-change="paginationRow(pagelength)">
                                            <option value="5"> 5</option>
                                            <option value="10"> 10</option>
                                            <option value="15"> 15</option>
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12 my-margin-top">
                                        <label>اندازه فونت : </label>
                                        <div class="row right-align">
                                            <div class="col-sm-4 center" style="color: white;font-size: 16px;">
                                                14
                                            </div>
                                            <div class="col-sm-4 center" style="color: white;font-size: 16px;">
                                                16
                                            </div>
                                            <div class="col-sm-4 center" style="color: white;font-size: 16px;">
                                                18
                                            </div>
                                            <form>
                                                <input type="range" id="fontRange" min="14" max="18" step="2" style="width: 85%;margin: 0 auto;display: block;direction: ltr"
                                                    ng-model="size" ng-change="tablefontChange(size)" />
                                            </form>
                                        </div>
                                    </div>
                                    <hr style="width: 100%;border-top-color: #BFBFBF">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label>export :</label>
                                            </div>
                                            <div class="col-sm-4 center" style="color: white;font-size: 24px;">
                                                <i class="fa fa-file-pdf-o pointer" style="margin: 0"></i>
                                            </div>
                                            <div class="col-sm-4 center" style="color: white;font-size: 24px;">
                                                <i class="fa fa-file-excel-o pointer" style="margin: 0"></i>
                                            </div>
                                            <div class="col-sm-4 center" style="color: white;font-size: 24px;">
                                                <i class="fa fa-file-word-o pointer" style="margin: 0"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="chartPlus" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" style="overflow-x: hidden">
                            <button type="button" class="close right-float" style="position: absolute;top: 10px;left: 10px" ng-click="closingModal()">&times;</button>
                            <div class="row" id="tableMove">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10 my-margin-top">
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-4 col-sm-push-8 left-align">
                                                <label>
                                                    نام :
                                                </label>
                                            </div>
                                            <div class="col-sm-8 col-sm-pull-4">
                                                <input type="text" tabindex="102" class="form-control" ng-model="orgChartName">
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-sm-4 col-sm-push-8 left-align my-margin-top">
                                                <label>
                                                    نوع :
                                                </label>
                                            </div>
                                            <div class="col-sm-8 col-sm-pull-4 my-margin-top">
                                                <div class="input-group">
                                                    <div class="input-group-btn">
                                                        <button tabindex="104" class="btn center" ng-click="modalPlus('tableMove','modal-second-table',false)" ng-class="userColor"
                                                            tabindex="31" style="margin-top:0;border-radius: 0;color: white;padding: 6px 12px">
                                                            <i class="fa fa-ellipsis-h" style="margin: 0"></i>
                                                        </button>
                                                    </div>
                                                    <input class="form-control right-align login-input" tabindex="103" ng-value="orgChartToRegister.name" type="text" />
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-sm-4 col-sm-push-8 left-align my-margin-top">
                                                <label>
                                                    سردسته :
                                                </label>
                                            </div>
                                            <div class="col-sm-8 col-sm-pull-4 my-margin-top">
                                                <input type="text" class="form-control" ng-value="parent.name" disabled>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-sm-8 my-margin-top left-align">
                                                <button class="btn btn-primary" tabindex="105" style="margin-left: 15px" ng-click="registerOrgChart(orgChartName)">
                                                    ثبت
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="row modal-nth-table" id="modal-second-table">
                                <div class="col-sm-12 left-align">
                                    <i class="fa fa-arrow-left pointer" ng-click="modalPlus('tableMove','modal-second-table',true)"></i>
                                </div>
                                <div ng-include="'modules/example4.html'" ng-init="userPlus = true" ng-if="modalData[0]"></div>
                            </div>
                            <div id="modal-third-table" class="row modal-nth-table">
                                <div class="col-sm-12 left-align">
                                    <i class="fa fa-arrow-left pointer" ng-click="modalPlus('modal-second-table','modal-third-table',true)"></i>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <div ng-include="'modules/orgChartType/creatingOrgChartType.html'">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="addingUser" class="modal fade" role="dialog" ng-keydown="detector($event)" tabindex="2">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" style="background-color: transparent;">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-12 my-margin-top">
                                        <ul class="user-list">
                                            <li class="center pointer" ng-class="userColor" ng-click="registeringUser = false">اختصاص افراد به این سمت</li>
                                            <li class="center pointer" ng-class="userColor" ng-click="registeringUser =true">افراد دارای این سمت</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12 my-margin-top" ng-if="! registeringUser">
                                        <div class="row">
                                            <div class="col-sm-push-6 col-sm-6">
                                                <label ng-style="testfont" class="right-float">نام واحد :</label>
                                                <span id="unitName" style="padding-right: 15px"></span>
                                            </div>
                                            <div class="col-sm-6 col-sm-pull-6">
                                                <label ng-style="testfont" class="right-float">کد واحد :</label>
                                                <span id="unitCode" style="padding-right: 15px"></span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-sm-6"></div>
                                            <div class="col-sm-6 my-margin-top">
                                                <label ng-style="testfont" class="right-float">
                                                    جستجو بر اساس نام و نام خانوادگی
                                                </label>
                                                <input type="text" class="form-control right-align" />
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="table-responsive my-margin-top" ng-init="myDatePicker()">
                                                <table class="table table-hover table-bordered right-align">
                                                    <thead>
                                                        <tr ng-style="testfont">
                                                            <th style="width: 50px">
                                                                نام و نام خانوادگی
                                                                <br>
                                                            </th>
                                                            <th style="width: 30px">
                                                                کد پست
                                                                <br>
                                                            </th>
                                                            <th style="width: 20px">
                                                                شروع پست
                                                                <br>
                                                            </th>
                                                            <th style="width: 20px">
                                                                پایان پست
                                                                <br>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-style="testfont">
                                                            <td>
                                                                <p style="display: flex">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input class="select" type="checkbox">
                                                                            <span class="cr" style="margin-left: 5px;top: 3px;">
                                                                                <i class="cr-icon fa fa-check"></i>
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                    محمد علی قولبگ
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control elementClass">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control elementClass">
                                                            </td>
                                                        </tr>
                                                        <tr ng-style="testfont">
                                                            <td>
                                                                <p style="display: flex">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input class="select" type="checkbox">
                                                                            <span class="cr" style="margin-left: 5px;top: 3px;">
                                                                                <i class="cr-icon fa fa-check"></i>
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                    محمد علی قولبگ
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control elementClass">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control elementClass">
                                                            </td>
                                                        </tr>
                                                        <tr ng-style="testfont">
                                                            <td>
                                                                <p style="display: flex">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input class="select" type="checkbox">
                                                                            <span class="cr" style="margin-left: 5px;top: 3px;">
                                                                                <i class="cr-icon fa fa-check"></i>
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                    محمد علی قولبگ
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control elementClass">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control elementClass">
                                                            </td>
                                                        </tr>
                                                        <tr ng-style="testfont">
                                                            <td>
                                                                <p style="display: flex">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input class="select" type="checkbox" />
                                                                            <span class="cr" style="margin-left: 5px;top: 3px;">
                                                                                <i class="cr-icon fa fa-check"></i>
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                    محمد علی قولبگ
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control elementClass">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control elementClass">
                                                            </td>
                                                        </tr>
                                                        <tr ng-style="testfont">
                                                            <td>
                                                                <p style="display: flex">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input class="select" type="checkbox">
                                                                            <span class="cr" style="margin-left: 5px;top: 3px;">
                                                                                <i class="cr-icon fa fa-check"></i>
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                    محمد علی قولبگ
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control elementClass">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control elementClass">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 left-align" ng-if="! registeringUser">
                                        <i class="fa fa-check pointer table-accessory-tools" ng-click="addingOrgChart()"></i>
                                    </div>
                                    <div class="col-sm-8 right-align" ng-if="!registeringUser" style="padding: 0">
                                        <ul class="pagination" style="margin: 0">
                                            <li>
                                                <a href="#" style="color: black" data-toggle="tooltip" data-placement="right" title="اولین صفحه" ng-click="finalPagination(1,false,urlToGet )">
                                                    <i class="fa fa-angle-double-right" style="margin: 0 auto"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black" data-toggle="tooltip" data-placement="right" title="صفحه قبل" ng-click="finalPagination(currentPage - 1,false, urlToGet)">
                                                    <i class="fa fa-angle-right" style="margin: 0 auto"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">
                                                    <input type="text" class="form-control paginationOrder" ng-model="pagingNumber" ng-keypress="pageOrder(pagingNumber,$event)"
                                                        style="font-size: 13px" placeholder="صفحه {{currentPage}} از {{paginationNumber[paginationNumber.length-1]}}">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black" data-toggle="tooltip" data-placement="left" title="صفحه بعد" ng-click="finalPagination(currentPage+1,false,urlToGet )">
                                                    <i class="fa fa-angle-left" style="margin: 0 auto"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black" data-toggle="tooltip" data-placement="left" title="آخرین صفحه" ng-click="finalPagination(paginationNumber[paginationNumber.length-1],false,urlToGet )">
                                                    <i class="fa fa-angle-double-left" style="margin: 0 auto"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12  my-margin-top" ng-if="registeringUser">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered right-align">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            نام
                                                        </th>
                                                        <th>
                                                            نام خانوادگی
                                                        </th>
                                                        <th>
                                                            کد پرسنلی
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            علی
                                                        </td>
                                                        <td>
                                                            قولبگ
                                                        </td>
                                                        <td>
                                                            123456
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 my-margin-top" ng-if="!tableView">
            <script src="assets/scripts/treant.js"></script>
            <script src="assets/scripts/raphael.js"></script>
            <script src="assets/scripts/basic-example.js"></script>
            <div class="chart" id="basic-example" ng-init="treeLoad()" style="margin-top: -100px"></div>
            <script>
                new Treant(chart_config);
                $(document).ready(function () {
                    $(".node").click(function () {
                        for (var i = 0; i < this.childNodes.length; i++) {
                            if (this.childNodes[i].className == "node-id") {
                                $("#addingUser").modal();
                                $("#unitCode").html(this.childNodes[1].innerHTML);
                                $("#unitName").html(this.childNodes[0].innerHTML)
                            }
                        }
                    })
                })
            </script>
        </div>
    </div>
</div>