<div id="myBar" class="progress-bar-striped">
    <div id="inside-progress"></div>
    <div class="barImg">
        <img src="media/logofox.png" id="loadingImage" />
    </div>
</div>
<div class="container-fluid effect">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="row">
                <div class="col-sm-2 logo-holder" ng-class="userSubColor">
                    <a href="#" style="margin-left: 45px">
                        <!--logo part-->
                        <img src="media/logo.png" style="float: right" id="aris-typo" onclick="move()" />
                        <img src="media/logofox.png" style="float: right" id="aris-logo" onmouseover="transform3d()" onmouseout="deleteTransform()">
                    </a>
                </div>
                <div class="col-sm-5" style="padding: 0;margin-top: 4px">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="z-index:10"> 
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <span class="border-right">
                        <!--user information part-->
                        <img data-toggle="tooltip" data-placement="bottom" title="تنظیمات پروفایل" src="{{img}}" alt="user photo" class="rounded-pic pointer"
                            onclick="fade()" />
                            <!--informaton dropdown-->
                            <div style="color: black" id="user-info" class="dropdown-border" ng-include="'modules/user-info.html'">
                            </div>
                        </span>
                        <span class="border-right right-align">
                            <a href="table.html">
                                <!--cartable part-->
                                <i data-toggle="tooltip" data-placement="bottom" title="کارتابل" class="fa fa-envelope-o font" style="margin-right: 0px !important"></i>
                                <div class="badge">{{reading}}</div>
                            </a>
                        </span>
                        <span class="border-right right-align" style="position: relative">
                            <!--setting part-->
                            <i data-toggle="tooltip" data-placement="bottom" title="تنظیمات پوسته" id="setting" class="fa fa-gear font rotate-back pointer"
                            onclick="setting()" ></i>
                            <div style="color: black" id="setting-bar" class="dropdown-border" ng-include="'modules/setting-bar.html'">
                            </div>
                        </span>
                        <span class="border-right right-align" style="margin-right: 5px;">
                            <i data-toggle="tooltip" data-placement="bottom" title="جستجو" class="fa fa-search font pointer" onclick="searching()"></i>
                        </span>
                        <div class="searchContainer">
                            <span>
                            <input type="text" class="form-control form-control1 hide" list="browsers" autocomplete="off" id="search"  ng-model="searchFilter" ng-keyup="searching(0)" ng-blur="closingSearch()" ng-keydown="searching(1)"/>
                            </span>
                            <div class="searchResult" id="search-con" tabindex="1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div ng-repeat="x in searchSystem|filter:{title : searchItem}">
                                                <li class="searchLink pointer" value="{{x.title}}" ng-style="testfont" ng-click="gettingSystem(x.id,1)" style="text-align: right;">
                                                    {{x.title}}
                                                </li>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5" style="text-align: right;margin-top: 10px">
                    <span class="border-right border-left">
                        <!--link to first page-->
                        <a href="index.html" ng-style="testfont" style="font-size: 21px" >
                            شرکت ملی گاز ایران
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<p ng-style="testfont" style="text-align: left;color: #C1B49A;background-color: white;height: 8px; padding-top: 5px;padding-left: 223px;margin-bottom: 10px">
    <i class="fa fa-question-circle-o pointer" onclick="javascript:introJs().setOptions({ 'nextLabel': 'بعد', 'prevLabel': 'قبل', 'skipLabel': 'خروج', 'doneLabel': 'اتمام' }).start();"></i>    version 1.0
</p>

<!--error modal-->
<div class="modal fade" id="error" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body center" style="min-height:0px">
                <div class="row">
                    <div class="col-sm-4 ieMessage">
                        <p><i class="fa fa-exclamation-triangle fa-5x " style="font-size: 5em !important"></i></p>
                    </div>
                    <div class="col-sm-8">
                        <p ng-repeat="error in error">{{error}}</p>
                        <span class="btn btn-danger" data-dismiss="modal" style="background-color:#A72D2A !important">متوجه شدم</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="response" class="container" ng-class="userSubColor">
    <div class="row inner-response">
        <div class="col-sm-12 center">
            <p>{{responeMessage}}</p>
        </div>
    </div>
</div>
<div class="loading-login1" ng-class="userColor">
    <div>
        <img src="media/logofox.png" id="fox" class="fox">
    </div>

</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })

</script>
<script>
    $('#error').on('show.bs.modal', function () {
        $(".effect").css("filter", "blur(40px)")
        $(".container-filter").css("filter", "blur(40px)")
        $(".container-filter a").css("pointer-events", 'none')
        $("nav a").css("pointer-events", 'none')
        $("nav i").css("pointer-events", 'none')
    })
    $('#error').on('hide.bs.modal', function () {
        $(".effect").css("filter", "none")
        $(".container-filter").css("filter", "none")
        $(".container-filter a").css("pointer-events", '')
        $("nav a").css("pointer-events", '')
        $("nav i").css("pointer-events", '')
        $(".effect").css("filter", "none")
    })

</script>