<div id="myBar" class="progress-bar-striped">
    <div id="inside-progress"></div>
    <div class="barImg">
        <img src="media/logofox.png" id="loadingImage" />
    </div>
</div>
<div class="container-fluid effect">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="row">
                <div class="col-sm-2 logo-holder" ng-class="userSubColor">
                    <a href="#" style="margin-left: 45px">
                        <!--logo part-->
                        <img src="media/logo.png" style="float: right" id="aris-typo" onclick="move()" />
                        <img src="media/logofox.png" style="float: right" id="aris-logo" onmouseover="transform3d()" onmouseout="deleteTransform()">
                    </a>
                </div>
                <div class="col-sm-6" style="padding: 0;margin-top: 4px">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="z-index:10"> 
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <span class="border-right">
                        <!--user information part-->

                        <img ng-if="img != undefined" data-toggle="tooltip" data-placement="bottom" title="تنظیمات پروفایل" src="{{img}}" alt="user photo" class="rounded-pic pointer"
                            onclick="fade()" />
                            <img ng-if="img == undefined && gendar == 'male'" data-toggle="tooltip" data-placement="bottom" title="تنظیمات پروفایل" src="media/male.png" alt="user photo" class="rounded-pic pointer"
                            onclick="fade()" style="background-color: #C1B49A" />
                            <img ng-if="img == undefined && gendar == 'female'" data-toggle="tooltip" data-placement="bottom" title="تنظیمات پروفایل" src="media/female.png" alt="user photo" class="rounded-pic pointer"
                            onclick="fade()" style="background-color: #C1B49A" />
                            <!--informaton dropdown-->
                            <div style="color: black" id="user-info" class="dropdown-border" ng-include="'modules/user-info.html'">
                            </div>
                        </span>
                        <span class="border-right right-align">
                            <a href="table.html">
                                <!--cartable part-->
                                <i data-toggle="tooltip" data-placement="bottom" title="کارتابل" class="fa fa-envelope-o font" style="margin-right: 0px !important"></i>
                                <div class="badge">{{reading}}</div>
                            </a>
                        </span>
                        <span class="border-right right-align" style="position: relative">
                            <a href="theme-change.min.html">
                                    <i data-toggle="tooltip" data-placement="bottom" title="تنظیمات پوسته" id="setting" class="fa fa-gear font rotate-back pointer" ></i>
                            </a>
                            <!--setting part-->
                            <!-- <i data-toggle="tooltip" data-placement="bottom" title="تنظیمات پوسته" id="setting" class="fa fa-gear font rotate-back pointer"
                            onclick="setting()" ></i> -->
                            <!-- <div style="color: black" id="setting-bar" class="dropdown-border" ng-include="'modules/setting-bar.html'">
                            </div> -->
                        </span>
                        <span class="border-right right-align dropdown" style="margin-right: 5px;">
                            <i  data-placement="bottom" title="امکانات" data-toggle="dropdown" data-toggle="tooltip" class="fa fa-wrench font pointer dropdown-toggle"></i>
                            <ul class="dropdown-menu" ng-init="mydate()">
                                <li>
                                    <a href="#" class="right-align" ng-style="testfont" ng-click="sideBar(2)">
                                        <i class="fa fa-calendar-o" style="margin: 0 !important;float: left"></i>
                                        {{myday}}  {{myMonth}}
                                        <div ng-if="eventNumber != 0" style="background-color: #CF4133;color: white;font-weight: normal;position: absolute;top: 9px;right: 60%;font-size: 12px;padding: 0px 5px;border-radius: 50%">{{eventNumber}}</div>
                                    </a>
                                </li>
                                <hr style="margin: 10px auto">
                                <li>
                                    <a href="#" class="right-align" ng-style="testfont" ng-click="sideBar(1)">
                                        <i class="fa fa-file-text-o" style="margin: 0 !important;float: left"></i>
                                        <div ng-if="note.length != 0" style="background-color: #CF4133;color: white;font-weight: normal;position: absolute;right: 60%;font-size: 12px;padding: 0px 5px;border-radius: 50%">{{note.length}}</div>
                                        یادداشت ها
                                    </a>
                                </li>
                                <hr style="margin: 10px auto">
                                <li onclick="display('chatbox')">
                                    <a href="#" class="right-align" ng-style="testfont">
                                        <img src="media/logofox.png" style="float: left;width: 16%;margin-top: -3px;">
                                        <div ng-if="note.length != 0" style="background-color: #CF4133;color: white;font-weight: normal;position: absolute;right: 60%;font-size: 12px;padding: 0px 5px;border-radius: 50%">{{note.length}}</div>
                                        چت باکس
                                    </a>
                                </li>
                                <hr style="margin: 10px auto">
                                <li>
                                    <a href="#" class="right-align" ng-style="testfont" ng-click="sideBar(3)">
                                        <i class="fa fa-random" style="margin: 0 !important;float: left"></i>
                                        پربازدیدها
                                    </a>
                                </li>
                              </ul>
                        </span>
                        <span class="border-right right-align" style="margin-right: 5px;">
                            <i data-toggle="tooltip" data-placement="bottom" title="جستجو" class="fa fa-search font pointer" onclick="searching()"></i>
                        </span>
                        <div class="searchContainer">
                            <span>
                            <input type="text" class="form-control form-control1 hide" list="browsers" autocomplete="off" id="search"  ng-model="searchFilter" ng-keyup="searching(0)" ng-blur="closingSearch()" ng-keydown="searching(1)"/>
                            </span>
                            <div class="searchResult" id="search-con" tabindex="1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div ng-repeat="x in searchSystem|filter:{title : searchItem}">
                                                <li class="searchLink pointer" value="{{x.title}}" ng-style="testfont" ng-click="gettingSystem(x.id,1)" style="text-align: right;">
                                                    {{x.title}}
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="text-align: right;">
                    <span class="border-right border-left">
                        <!--link to first page-->
                        <a href="index.html" ng-style="testfont" style="font-size: 24px" >
                            شرکت ملی گاز ایران
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--error modal-->
<div class="modal fade" id="error" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body center" style="min-height:0px">
                <div class="row">
                    <div class="col-sm-4 ieMessage">
                        <p><i class="fa fa-exclamation-triangle fa-5x red" style="font-size: 5em !important"></i></p>
                    </div>
                    <div class="col-sm-8">
                        <p ng-repeat="error in error">{{error}}</p>
                        <span class="btn btn-danger my-margin-top" data-dismiss="modal" style="background-color:#A72D2A !important">متوجه شدم</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="response" class="container" ng-class="userSubColor">
    <div class="row inner-response">
        <div class="col-sm-12 center">
            <p>{{responeMessage}}</p>
        </div>
    </div>
</div>
<div class="loading-login1" ng-class="userColor">
    <div>
        <img src="media/logofox.png" id="fox" class="fox">
    </div>

</div>
    <!--chat area part-->
    <div id="chatbox" ng-class="userColor">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" onclick="showing()">
                    <div class="row pointer">
                        <div class="col-sm-3">
                            <i class="fa fa-comment"></i>
                        </div>
                        <div class="col-sm-9">
                            <p ng-style="testfont">محل ارتباط شما</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 hide" id="chat">
                    <div class="border white-background" ng-if="reciver != undefined || reciver != null" style="height: 200px;overflow-x: hidden"
                        id="chatscroll">
                        <div class="row" ng-repeat="chat in chat" ng-if="chat.reciver == reciver || chat.sender == reciver" id="chatarea">
                            <div class="clearfix"></div>
                            <div class="row" ng-if="chat.type == 'recive'">
                                <div class="col-sm-8" style="text-align: left">
                                    <p class="chatresponse">
                                        {{chat.content}}<br>
                                        <span style="font-size: 8px;text-align: left">{{chat.sender}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row" ng-if="chat.type == 'send'">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-7">
                                    <p class='chat'>
                                        {{chat.content}}
                                    </p>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input list="people" id="reciver" ng-model="reciver" class="form-control form-control1" placeholder="انتخاب فرد" style="width: 100%;margin: 10px auto;"
                            />
                            <datalist id="people">
                                <option value="فرد اول" />
                                <option value="فرد لااول" />
                                <option value="فردیفغ اول" />
                                <option value="فرد ایباول" />
                            </datalist>
                        </div>
                        <div class="col-sm-8">
                            <textarea class="my-textarea" id="chattext" style="margin-bottom: 5px;"></textarea>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn my-button " ng-class="userColor" ng-click="chatting(reciver)">ارسال</button>
                        </div>
                    </div>
                </div>
    
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })

</script>
<script>
    $('#error').on('show.bs.modal', function () {
        $(".effect").css("filter", "blur(40px)")
        $(".container-filter").css("filter", "blur(40px)")
        $(".container-filter a").css("pointer-events", 'none')
        $("nav a").css("pointer-events", 'none')
        $("nav i").css("pointer-events", 'none')
    })
    $('#error').on('hide.bs.modal', function () {
        $(".effect").css("filter", "none")
        $(".container-filter").css("filter", "none")
        $(".container-filter a").css("pointer-events", '')
        $("nav a").css("pointer-events", '')
        $("nav i").css("pointer-events", '')
        $(".effect").css("filter", "none")
    })

</script>