<div class="container-fluid effect">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="row">
                <div class="col-sm-1 logo-holder sub-color">
                    <a href="#">
                        <!--logo part-->
                        <img src="media/logofox.png" id="aris-logo" onmouseover="transform3d()" onmouseout="deleteTransform()">
                        <img src="media/logo.png" id="aris-typo" />
                        
                    </a>
                    <div class="aris-badge">10</div>
                </div>
                <div class="col-sm-5" style="padding: 0">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="z-index:10"> 
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <span class="border-right">
                        <!--user information part-->
                        <img data-toggle="tooltip" data-placement="bottom" title="تنظیمات پروفایل" src="media/1.jpg" alt="user photo" class="rounded-pic pointer"
                            onclick="fade()" />
                            <!--informaton dropdown-->
                            <div style="color: black" id="user-info" class="dropdown-border" ng-include="'modules/user-info.html'">
                            </div>
                        </span>
                        <span class="border-right right-align">
                            <a href="table.html">
                                <!--cartable part-->
                                <i data-toggle="tooltip" data-placement="bottom" title="کارتابل" class="fa fa-envelope-o font" style="margin-right: 0px !important"></i>
                                <div class="badge sub-color">{{reading}}</div>
                            </a>
                        </span>
                        <span class="border-right right-align">
                            <!--setting part-->
                            <i data-toggle="tooltip" data-placement="bottom" title="تنظیمات پوسته" id="setting" class="fa fa-gear font rotate-back pointer"
                            onclick="setting()" ></i>
                        </span>
                        <span class="border-right right-align" style="margin-right: 5px;">
                            <i data-toggle="tooltip" data-placement="bottom" title="جستجو" class="fa fa-search font pointer" onclick="searching()"></i>
                        </span>
                        <div class="searchContainer">
                            <span>
                            <input type="text" class="form-control form-control1 hide" list="browsers" autocomplete="off" id="search"  ng-model="searchFilter" ng-keyup="searching(0)" ng-blur="closingSearch()" ng-keydown="searching(1)"/>
                            </span>
                            <div class="searchResult" id="search-con" tabindex="1" ng-if="searchSystem.length != 0">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12" ng-repeat="link in searchSystem ">
                                            <div ng-repeat="x in link.children|filter:{title : searchItem}">
                                                <li class="searchLink pointer fontchange" value="{{x.parent}}" ng-click="gettingSystem(x.parent,1)" style="text-align: right;">
                                                    {{x.title}}
                                                </li>

                                            </div>
                                            <div ng-repeat="x in link.children">
                                                <li ng-repeat="y in x.children|filter:{title : searchItem}" value="{{y.parent}}" name="{{y.id}}" class="searchLink pointer child fontchange"
                                                    style="text-align: right;" ng-click="searchClick(y.parent, y.id)" ng-init="checkingP()">
                                                    {{y.title}}
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 my-margin-top" style="text-align: right">
                    <span class="border-right border-left">
                        <!--lik to first page-->
                        <a href="index.min.html" class="fontchange">
                            شرکت ملی گاز ایران
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--setting dropdown-->
<div style="color: black" id="setting-bar" class="dropdown-border" ng-include="'modules/setting-bar.html'">
</div>
<!--error modal-->
<div class="modal fade" id="error" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body center" style="min-height:0px">
                <div class="row">
                    <div class="col-sm-4 ieMessage">
                        <p><i class="fa fa-exclamation-triangle fa-5x " style="font-size: 5em !important"></i></p>
                    </div>
                    <div class="col-sm-8">
                        <p ng-repeat="error in error">{{error}}</p>
                        <span class="btn btn-danger" data-dismiss="modal" style="background-color:#A72D2A !important">متوجه شدم</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loading-login color" >
        <img src="media/logofox.png" id="fox" class="fox">
    </div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })

</script>
<!--<script>
        $(function () {
            // $('#Demo').perfectScrollbar();
            Ps.initialize(document.getElementById('search-con'));
        });
        $(function () {
            prettyPrint();
        });
    </script>-->
<script>
    $('#error').on('show.bs.modal', function () {
        $(".effect").css("filter", "blur(40px)")
        $(".container-filter").css("filter", "blur(40px)")
        $(".container-filter a").css("pointer-events", 'none')
        $("nav a").css("pointer-events", 'none')
        $("nav i").css("pointer-events", 'none')
    })

    $('#error').on('hide.bs.modal', function () {
        $(".effect").css("filter", "none")
        $(".container-filter").css("filter", "none")
        $(".container-filter a").css("pointer-events", '')
        $("nav a").css("pointer-events", '')
        $("nav i").css("pointer-events", '')
        $(".effect").css("filter", "none")
    })

</script>