<div class="col-sm-12 aris-animation" >
    <form>
        <div class="container" style="padding: 0">
            <div class="row">
                <div class="col-sm-12">
                    <input class="form-control my-margin-top right-align" id="notetitle" ng-model="mytitle" />
                    <textarea class="my-textarea" id="notearea" ng-model="mytext" style="height: 40px;"></textarea>
                </div>
                <div class="col-sm-4">
                    <button class="my-margin-top btn btn-danger" ng-style="testfont" style="color: white" ng-click="addThis(mytext,mytitle)">ذخیره </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div style="max-height: 400px;position: relative;margin-top: 5px; overflow-x: hidden !important;" id="side-scroll">
    <div class="border sub-system pointer" ng-repeat="note in note" style="background-color: #F0F1F3;min-height: 50px;margin: 0px 7px 10px;text-align: right">
        <h6 style="text-align: right;padding-right:10px;padding-top: 5px" >{{note.title}}<i class="fa fa-close" ng-click="removeItem(2,$index)" style="float: left"></i></h6>
        <p >{{note.content}}</p>
    </div>
</div>
<!-- in the last day of summer that should work -->
<script>
    $(function () {
        Ps.initialize(document.getElementById('side-scroll'));
    });
    $(function () {
        prettyPrint();
    });

</script>
<!--aside methode note maker and displayer-->