<!--<form>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <input class="form-control my-margin-top right-align" id="notetitle" ng-model="mytitle" placeholder="عنوان یادداشت" />
                <textarea class="my-textarea" id="notearea" ng-model="mytext"></textarea>
            </div>
            <div class="col-sm-6">
                <button class="my-button btn first-color color fontchange" ng-click="addThis(mytext,mytitle)">ذخیره موقت</button>
            </div>
            <div class="col-sm-6">
                <button class="my-button btn first-color color fontchange">ذخیره دایم</button>
            </div>
        </div>
    </div>
</form>-->
<!--first method note maker-->