<div class="container">
    <div class="row">
        <div class="col-sm-12 geometric" ng-class="userColor">
            <div class="row">
                <div class="col-sm-12 right-align" style="margin-bottom:-20px">
                    <span class="fa fa-close" onclick="fade()"></span>
                </div>
                <div class="col-sm-5 my-margin-top">
                    <img ng-if="img != undefined" class="rounded-pic info-pic" src="{{img}}"  />
                    <img ng-if="img == undefined && gendar == 'male'" class="rounded-pic info-pic" src="media/male.png"  />
                    <img ng-if="img == undefined && gendar == 'female'" class="rounded-pic info-pic" src="media/female.png"  />
                </div>
                <div class="col-sm-7 my-margin-top right-align" style="padding-top: 16px;font-size: 15px">
                    <span class="perssonel-name" ng-style="testfont">{{name}}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 my-margin-top center">
            <div class="row">
                <a href="pass_change.min.html">
                    <div class="col-sm-12" style="padding: 0 25px">
                        <div class="row" style="background-color: #F1F2F3;padding-top: 10px">
                            <div class="col-sm-4">
                                <i class="fa fa-key"></i>
                            </div>
                            <div class="col-sm-8 right-align">
                                <p ng-style="testfont">تغییر رمز</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="my-margin-top">
                    <div class="col-sm-12 my-margin-top" style="padding: 0 25px;margin-bottom: 10px">
                        <div class="row" style="background-color: #F1F2F3;padding-top: 10px;" ng-click="logout()">
                            <div class="col-sm-4">
                                <i class="fa fa-power-off" style="padding-right: 15px;"></i>
                            </div>
                            <div class="col-sm-8 right-align">
                                <p ng-style="testfont">خروج</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>