<!doctype html >
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#435761" data-react-helmet="true">
    <title>اریس رایانه</title>
    <link href="assets/styles/bootstrap.min.css" rel="stylesheet">
    <link href="assets/styles/font-awesome.min.css" rel="stylesheet">
    <link href="assets/styles/chart.css" rel="stylesheet">
    <link href="assets/styles/fullcalendar.css" rel="stylesheet">
    <link href="assets/styles/print.css" rel="stylesheet">
    <link href="assets/styles/persianDatepicker-default.css" rel="stylesheet">
    <link href="assets/styles/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="assets/styles/prettify.css" rel="stylesheet">
    <link href="assets/styles/main.min.css" rel="stylesheet">
    <link rel="icon" href="media/ArmAris.jpg" sizes="200*200">
    <!--<script src=".dist/bundle1.js"></script>-->
     <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/bundle.js"></script>
    <script src="assets/scripts/unique.min.js"></script>
    <script src="assets/scripts/chart.js"></script>
    <script src="assets/scripts/moment.min.js"></script>
    <script src="assets/scripts/moment-jalaali.js"></script>
    <script src="assets/scripts/fullcalendar.js"></script>
    <script src="assets/scripts/locale-all.js"></script>
    <script src="assets/scripts/persianDatepicker.min.js"></script>
    <script src="assets/scripts/perfect-scrollbar.min.js"></script>
    <script src="assets/scripts/prettify.js"></script>
    <script src="assets/scripts/main.js"></script> 
     <!-- <script src=".dist/main.js"></script>  -->

</head>

<body id="body" ng-app="myApp" ng-controller="myCtrl">
    <nav class="border color " ng-include="'modules/navigation.html'">
    </nav>
    <p class="fontchange" style="text-align: left;color: #037BC0;">
        10.3 <i class="fa fa-envelope-o" style="color: white;"></i>
    </p>
    <div class="container" style="margin-top: 40px;padding: 0 17px;margin-bottom: 60px;">
        <div class="row my-margin-top">
            <div class="col-sm-7 my-margin-top system-con" style="padding: 0" ng-init="gettingSystemJson()">
                <div class="col-sm-4 my-padding  animation container-filter" ng-repeat="system in system" ng-include="'modules/system.html'">
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-8 my-col-sm-6 alarm-con">
                    <div class="border  sub-system transform center pointer container-filter color" style="min-height: 222px;margin-top: 10px;">
                        <div class="row">
                            <div class="col-sm-12 " style="text-align: right;padding-right: 30px;position: relative;z-index: 3">
                                <span class="alarmTitle" ng-click="slider(-1)">
                                    <i class="fa fa-chevron-left"></i>
                                </span>
                                <span class="alarmTitle" ng-click="slider(1)">
                                    <i class="fa fa-chevron-right"></i>
                                </span>
                                <span class="alarmTitle pause" ng-click="pause()">
                                   
                                    <i class="fa fa-pause" ></i>
                                </span>
                                <span class="alarmTitle play hide" ng-click="play()">
                                     <i class="fa fa-play" ></i>
                                </span>
                                <span class="alarmTitle">
                                    <h4 class="fontchange">پیغام های شما</h4>
                                </span>
                            </div>
                            <div class="col-sm-12" style="  perspective: 150px; -webkit-perspective: 150px;" ng-include="'modules/alarm.html'"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" ng-include="'modules/tools.html'">

                </div>
                <div class="clearfix"></div>
                <!--<div class="col-sm-4 my-col-sm-6 my-margin-top my-padding" style="margin-bottom: 67px;">
                    <div class="border  center container-filter transform">
                        <div class="row first-color color" style="margin: 0 auto;box-shadow: 0px 3px 3px gray">
                            <div class="col-sm-4">
                                <i class="fa fa-dot-circle-o left-one pointer" ng-click="newMonth(-1)" style="font-size: 12px;margin: 0"></i>
                            </div>
                            <div class="col-sm-4">
                                <p>{{myMonth}}</p>
                            </div>
                            <div class="col-sm-4">
                                <i class="fa fa-dot-circle-o right-one pointer" ng-click="newMonth(1)" style="font-size: 12px; margin: 0"></i>
                            </div>
                        </div>
                        <div style="color: #088FCE">
                            <h1>{{myday}}</h1>
                            <div class="mycalendar calendar-second-color">
                                <h4>{{dayname}}</h4>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="col-sm-5 my-margin-top container-filter" style="padding: 0 8px">
                <a href="charts.min.html">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="border sub-system chart sub-color" style="padding-top: 10px;">
                                <div class="ct-chart  ct-golden-section my-margin-top" id="chart1" style="color: white"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <footer class="container-fluid container-filter" ng-include="'modules/footer.html'">
    </footer>

</body>

</html>