<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="theme-color" content="#435761" data-react-helmet="true">
    <title>اریس رایانه</title>
    <link href="assets/styles/bootstrap.min.css" rel="stylesheet">
    <link href="assets/styles/doodlestyle.css" rel="stylesheet">
    <link href="assets/styles/font-awesome.min.css" rel="stylesheet">
    <link href="assets/styles/main.css" rel="stylesheet">
    <link rel="icon" href="media/logofox.png" sizes="200*200">
    <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/bundle.js"></script>
    <script src="assets/scripts/ngDraggable.js"></script>
    <script src="assets/scripts/rsa/System.debug.js"></script>
    <script src="assets/scripts/rsa/System.IO.debug.js"></script>
    <script src="assets/scripts/rsa/System.Text.debug.js"></script>
    <script src="assets/scripts/rsa/System.Convert.debug.js"></script>
    <script src="assets/scripts/rsa/System.BitConverter.debug.js"></script>
    <script src="assets/scripts/rsa/System.BigInt.debug.js"></script>
    <script src="assets/scripts/rsa/System.Security.Cryptography.SHA1.debug.js"></script>
    <script src="assets/scripts/rsa/System.Security.Cryptography.debug.js"></script>
    <script src="assets/scripts/rsa/System.Security.Cryptography.SHA256.debug.js"></script>
    <script src="assets/scripts/rsa/System.Security.Cryptography.RSA.debug.js"></script>
    <script src="assets/scripts/codeFormat.min.js"></script>
    <script src="assets/scripts/login.js"></script>
    <style>
        body {
            height: 100vh;
            overflow: hidden;
        }

        input {
            direction: rtl;
        }

        .my-form1 {
            border: none;
            border-radius: 0;
            width: 100%;
            height: 43px !important;
        }

        .my-border {
            border: 1px solid gray;
            padding: 10px;
            background-color: white;
        }

        .my-border label {
            font-size: 14px;
        }

         ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: white;
        }

         ::-moz-placeholder {
            /* Firefox 19+ */
            color: white;
        }

         :-ms-input-placeholder {
            /* IE 10+ */
            color: white;
        }

         :-moz-placeholder {
            /* Firefox 18- */
            color: white;
        }

        .blur {
            /* filter: blur(25px);
            -webkit-filter: blur(25px);
            -moz-filter: blur(25px);
            -o-filter: blur(25px);
            -ms-filter: blur(25px); */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 0;
        }

        .blur img {
            width: 110%;
            height: 110%;
            margin: -15px 0 0 -15px;
        }

        .bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            color: white;
            width: 100%;
        }

        .bottom i {
            font-size: 50px;
        }

        input {
            border-radius: 0 !important;
        }

        #upload-photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 225px;
            opacity: 0;
            padding: 14px 0;
            cursor: pointer;
        }

        .myselect {
            background-color: #808080;
        }

        input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            width: 225px;
            opacity: 0;
            padding: 14px 0;
            cursor: pointer;
        }

        @media screen and (max-width: 1316px) {
            .modal {
                overflow: scroll;
            }
        }
    </style>

</head>

<body class="log-in">
    <div class="loading-login">
        <img src="media/logofox.png" id="fox">
    </div>
    <div class="blur">
        <img src="media/blue1.jpg">
    </div>
    <div class="color log-form" style="height: 100vh;z-index: 2;overflow: hidden">
        <div class="container-fluid" style="height: 100vh">
            <div class="col-sm-12 load-circle" style="text-align: center;display: none;display: fixed;top: 0">
                <div class="showbox">
                    <div class="loader">
                        <svg class="circular" viewBox="25 25 50 50">
                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="100"></circle>
                        </svg>
                    </div>
                </div>
                <!--<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>-->
            </div>
            <div class="row" style="height: 100vh;display: flex;align-items: center">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="container log">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4 center" style="display: flex;align-items: center;justify-content: center">
                                <!-- <img src="media/logofox.png" style="width: 80%;height: auto;margin: 0 auto"> -->
                                <i class="fa fa-user-circle" style="text-shadow: 1px 9px 20px #404040"></i>
                            </div>
                            <div class="col-sm-4"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row my-margin-top">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control right-align login-input" style="box-shadow: 1px 9px 20px #404040;" required type="text" id="user"
                                        placeholder=" نام کاربری" autofocus tabindex="1" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="input-group" style="box-shadow: 1px 9px 20px #404040">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default log-btn center" style="margin-top:0;" onclick="login()">
                                            <i style="margin: 0 5px" class="fa fa-arrow-left"></i>
                                        </button>
                                    </div>
                                    <input class="form-control right-align login-input" style="border-right: none" required type="password" id="pass" placeholder=" پسورد"
                                        tabindex="2" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="hide ieMessage">
                                <p class="red">نام کاربری و یا رمز وارد شده صحیح نمیباشد</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 pointer" style="text-align: left;font-size: 24px;">
                    </div>
                    <div class="col-sm-8 right-align" style="direction: rtl;font-size: 20px">
                        تاریخ امروز: <span id="day"></span>/<span id="month"></span>/<span id="year" style="margin-left: 15px"></span>|
                        <span data-toggle="modal" data-target="#personal-info" class="pointer" style="margin: 0 15px">ثبت نام</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="personal-info" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body right-align" style="background-color: #E0E0E0">
                    <div class="col-sm-12 load-circle" id="loadRegister" style="text-align: center;">
                        <div class="showbox">
                            <div class="loader">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="100"></circle>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <form onsubmit="register();return false;">
                        <div class="row">
                            <div class="col-sm-12">
                                <p id="registerAlarm" class="red" style="animation: testing 2s infinite steps(1)"></p>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-push-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="usr">نام:</label>
                                                    <input type="text" ng-model="register.name" class="form-control" style="height: 30px !important" id="name" placeholder="نام"
                                                        autocomplete="on" required autofocus oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                        oninput="setCustomValidity('')" tabindex="1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-sm-pull-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="family">نام خانوادگی:</label>
                                                    <input type="text" ng-model="register.family" class="form-control" style="height: 30px !important" id="family" autocomplete="on"
                                                        placeholder=" نام خانوادگی" required ng-model="register.family" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                        oninput="setCustomValidity('')" tabindex="2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-6 col-sm-push-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="father">نام پدر:</label>
                                                    <input type="text" class="form-control" style="height: 30px !important" id="father" autocomplete="on" placeholder="نام پدر"
                                                        required ng-model="register.fatherName" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                        oninput="setCustomValidity('')" tabindex="3">
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>جنسیت:</label>
                                                    <br>
                                                    <label class="radio-inline"><input type="radio" tabindex="4" name="registerGender" value="1" ng-model="register.gender" required />زن</label>
                                                    <label class="radio-inline"><input type="radio" tabindex="4" name="registerGender"  value="0" ng-model="register.gender" checked required  />مرد</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-sm-pull-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="file" onclick="fileSelect()" id="labelSelect">
                                                                <i class="fa fa-user" style="font-size: 102px;margin-right: 62px;background-color: lightgray;padding: 5px 24px"></i>
                                                        </label>
                                                <img src="" id="myimg" onclick="fileSelect()" style="height: 120px;width: auto;margin: 0 auto;display: none;border-radius: 5px">
                                                <input type="file" style="height: 30px !important" id="plusPhoto" required tabindex="5">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-6 col-sm-push-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="id-badge">شماره شناسنامه:</label>
                                                    <input type="text" class="form-control" style="height: 30px !important" id="id-badge" autocomplete="on" placeholder="شماره شناسنامه"
                                                        required ng-model="register.birthCertificateNo" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                        oninput="setCustomValidity('')" tabindex="6">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-sm-pull-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="social-no">کد ملی:</label>
                                                    <input type="text" class="form-control right-align" style="height: 30px !important;direction: ltr;" id="social-no" autocomplete="on"
                                                        placeholder="XXX-XXXXXX-X" required ng-model="register.nationalCode"
                                                        oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')" oninput="setCustomValidity('')"
                                                        autocomplete="on" tabindex="7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-6 col-sm-push-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="phone">شماره موبایل:</label>
                                                    <input type="tel" class="form-control" style="height: 30px !important" id="phone" autocomplete="on" placeholder="شماره موبایل"
                                                        required ng-model="register.mobileNo" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                        oninput="setCustomValidity('')" tabindex="8">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-sm-pull-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="phone">شماره پرسنلی :</label>
                                                <input type="text" class="form-control" style="height: 30px !important" id="personnel" autocomplete="on" placeholder="شماره پرسنلی"
                                                    required ng-model="register.personnelCode" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                    oninput="setCustomValidity('')" tabindex="9">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-6 col-sm-push-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="email">email:</label>
                                                    <input type="email" class="form-control" style="height: 30px !important" id="email" autocomplete="on" placeholder="ایمیل"
                                                        required ng-model="register.mail" oninvalid="this.setCustomValidity('ایمیل نامعتبر است')"
                                                        oninput="setCustomValidity('')" tabindex="10">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-sm-pull-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="activity">نوع کاربری :</label>
                                                    <select style="height: 30px;width: 100% !important;font-size: 12px" ng-model="register.isActive" tabindex="11" class="form-control my-form"
                                                        name="kindDocument">
                                                                <option value="true"  selected>فعال</option>
                                                                <option value="false" >غیرفعال</option>
                                                            </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-6 col-sm-push-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="user-name">نام کاربری:</label>
                                                    <input type="text" class="form-control" ng-keypress="myfocus = true" ng-blur="myfocus = false" style="height: 30px !important;"
                                                        name="testing1" id="user-name" ng-minlength="3" ng-maxlength="10" autocomplete="on"
                                                        placeholder="نام کاربری" required ng-model="register.userName" ng-model-options="{debounce: 500}"
                                                        val="username" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                        oninput="setCustomValidity('')" tabindex="12">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-sm-pull-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="password">رمز عبور:</label>
                                                    <input type="password" class="form-control" style="height: 30px !important" id="password" autocomplete="on" placeholder="رمز عبور"
                                                        required ng-model="register.passwordHash" oninvalid="this.setCustomValidity('لطفا این قسمت را پر کنید')"
                                                        oninput="setCustomValidity('')" tabindex="13">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12 my-margin-top">
                                        <button class="btn btn-danger" type="submit" tabindex="14" style="float: left;width: 22%" value="1" id="button1" ng-click="register.close = 1">ثبت </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(function ($) {
            $("#social-no").mask("999-999999-9");
        });
    </script>
</body>

</html>