<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اریس رایانه</title>
    <link href="assets/styles/bootstrap.min.css" rel="stylesheet">
    <link href="assets/styles/font-awesome.min.css" rel="stylesheet">
    <link href="assets/styles/chart.css" rel="stylesheet">
    <link href="assets/styles/fullcalendar.css" rel="stylesheet">
    <link href="assets/styles/print.css" rel="stylesheet">
    <link href="assets/styles/persianDatepicker-default.css" rel="stylesheet">
    <link href="assets/styles/main.css" rel="stylesheet">
    <link rel="icon" href="media/logofox.png" sizes="200*200">
    <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/bundle.js"></script>
    <script src="assets/scripts/ngDraggable.js"></script>
    <script src="assets/scripts/unique.min.js"></script>
    <script src="assets/scripts/chart.js"></script>
    <script src="assets/scripts/moment.js"></script>
    <script src="assets/scripts/fullcalendar.js"></script>
    <script src="assets/scripts/persianDatepicker.min.js"></script>
    <script src="assets/scripts/main.js"></script>
    <!--<script src=".dist/main.js"></script>-->
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div ng-if="securityCheck">
        <nav class="border" ng-class="userColor" ng-include="'modules/navigation.html'">
        </nav>
        <div class="container my-margin-top" style="margin-bottom: 340px;">
            <div class="row" style="margin-top: 32px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 well center my-margin-top">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <form>
                                <div class="row my-margin-top">
                                    <div class="col-sm-12 my-margin-top">
                                        <div class="row">
                                            <div class="col-sm-4 col-sm-push-8 left-align">
                                                <label>رمز فعلی</label>
                                            </div>
                                            <div class="col-sm-8 col-sm-pull-4">
                                                <input style="height: 35px;width: 100% !important" required type="password" tabindex="2" class="form-control my-form" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 my-margin-top">
                                        <div class="row">
                                            <div class="col-sm-4 col-sm-push-8 left-align">
                                                <label>رمز جدید</label>
                                            </div>
                                            <div class="col-sm-8 col-sm-pull-4">
                                                <input style="height: 35px;width: 100% !important" required type="password" tabindex="2" class="form-control my-form" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 my-margin-top">
                                        <div class="row">
                                            <div class="col-sm-4 col-sm-push-8 left-align">
                                                <label>تکرار رمز</label>
                                            </div>
                                            <div class="col-sm-8 col-sm-pull-4">
                                                <input style="height: 35px;width: 100% !important" required type="password" tabindex="2" class="form-control my-form" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 my-margin-top left-align">
                                        <button class="btn btn-danger">
                                            <i class="fa fa-refresh" style="margin-left: 0"></i>
                                            تغییر رمز
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer class="container-fluid" ng-class="userSubColor" ng-include="'modules/footer.html'">

        </footer>
        <div class="side-tool">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" style="text-align: left;margin-top: 35px">
                        <p class="sub-color" style="padding-right: 15px;margin-top: 25px;text-align: left">
                            <i class="fa fa-close" style="color: white;margin-left: -5px;margin-top: 8px" ng-click="sideBarClose()"></i>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <sidebar></sidebar>
                </div>
            </div>
        </div>
    </div>
</body>

</html>