<!doctype html>
<html lang="fa">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#435761" data-react-helmet="true">
    <title>اریس رایانه</title>
    <link href="assets/styles/bootstrap.min.css" rel="stylesheet">
    <link href="assets/styles/font-awesome.min.css" rel="stylesheet">
    <link href="assets/styles/chart.css" rel="stylesheet">
    <link href="assets/styles/fullcalendar.css" rel="stylesheet">
    <link href="assets/styles/print.css" rel="stylesheet">
    <link href="assets/styles/persianDatepicker-default.css" rel="stylesheet">
    <link href="assets/styles/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="assets/styles/prettify.css" rel="stylesheet">
    <link href="assets/styles/main.css" rel="stylesheet">
    <link rel="icon" href="media/ArmAris.jpg" sizes="200*200">
     <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/ui.min.js"></script> 
    <script src="assets/scripts/bundle.js"></script>
    <script src="assets/scripts/unique.min.js"></script>
    <script src="assets/scripts/codeFormat.min.js"></script>
    <script src="assets/scripts/moment.min.js"></script>
    <script src="assets/scripts/moment-jalaali.js"></script>
    <script src="assets/scripts/fullcalendar.js"></script>
    <script src="assets/scripts/persianDatepicker.min.js"></script>
    <script src="assets/scripts/locale-all.js"></script>
    <script src="assets/scripts/perfect-scrollbar.min.js"></script>
    <script src="assets/scripts/prettify.js"></script>
    <script src="assets/scripts/main.js"></script> 
    <style>
        .tools-logo {
            margin-top: 15px;
        }

        input {
            direction: rtl;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <nav class="border" ng-class="userColor" ng-include="'modules/navigation.html'">
    </nav>
    <div class="container-fluid my-margin-top" ng-init="systemToShow()">
        <div class="row white-background border" style="margin-bottom: 64px;">
            <div class="col-sm-12">
                <div ng-include="'modules/dropdown.html'" class="row" style="margin-bottom: 15px;padding-right: 10px">
                </div>
            </div>
            <div class="col-sm-2 col-sm-push-10 right-align" ng-style="testfont">
                <div class=" my-padding container-filter" style="padding-bottom: 15px !important;margin-top: -20px" ng-if="systemslider.length != undefined">
                    <h3 ng-style="testfont" style="padding: 10px;">زیر سیستم ها</h3>
                    <hr>
                    <div ng-repeat="sub in systemslider" >
                        <h4 class="pointer" ng-style="testfont" ng-model="show" ng-click="headerSlide(sub.id,sub.title,sub.path,sub.isLeaf)">
                            {{sub.title}}
                        </h4>
                        <div id="{{sub.id}}" style="display: none">
                            <div ng-repeat="item in sub.children" class="system-li" ng-class="userColor">
                                <h4 class=" pointer my-margin-top" ng-style="testfont" ng-class="userColor" ng-click="headerSlide(item.id,item.title,item.path,item.isLeaf)">
                                    {{item.title}}
                                </h4>
                                <div ng-repeat="item1 in item.children" class="system-li" ng-style="testfont" id="{{item.id}}" style="display: none;margin: 0px -7px -10px 0px"
                                   >

                                    <p class="pointer" ng-click="list_slide(item1.title,item1.id,item1.path,item1.isLeaf)" style="margin-bottom: 0;padding-right: 7px;padding-bottom: 5px">
                                        {{item1.title}}
                                    </p>
                                    <div ng-repeat="item2 in item1.children" id="{{item1.id}}" style="display: none">
                                        <p class="pointer" style="padding-right: 18px" ng-click="list_slide(item2.title,item2.id,item2.children,item2.origin)">
                                            {{item2.title}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: -20px">
                    <div class="col-sm-12">
                        <div class=" sub-system  my-padding-5 aris-animation " ng-include="'modules/tools.html'"></div>
                    </div>
                    <div ng-include="'modules/modal.html'"></div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-pull-2 container-filter footer-margin" style="border-right: 1px solid gray">
                <div>
                    <div class="right-align">
                        <a href="firstpage.html" style="color: black">خانه</a><i class="fa fa-angle-left my-padding"></i>
                        <span id="nav"></span>
                        <span id="subnav"></span>
                    </div>
                    <div ng-include="number"></div>

                </div>
            </div>

        </div>
    </div>
    <footer class="container-fluid container-filter" ng-class="userSubColor" ng-include="'modules/footer.html'">

    </footer>
    
</body>

</html>