<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#435761" data-react-helmet="true">
    <title>اریس رایانه</title>
    <link href="assets/styles/bootstrap.min.css" rel="stylesheet">
    <link href="assets/styles/font-awesome.min.css" rel="stylesheet">
    <link href="assets/styles/main.css" rel="stylesheet">
    <link rel="icon" href="media/ArmAris.jpg" sizes="200*200">
    <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/bundle.js"></script>
    <script src="assets/scripts/unique.min.js"></script>
    <script src="assets/scripts/main.js"></script>
    <style>
        h3 {
            color: #037bc0;
        }

        hr {
            border-bottom: 1px solid #F16521;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="theme()">
    <nav class="border first-color color " ng-include="'modules/navigation.html'">
    </nav>
    <div class="container right-align my-margin-top">
        <h3 class="fontchange">نوع نمایش اعداد</h3>
        <hr>
        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                    <form>
                        <!--<div class="col-sm-3"></div>-->
                        <div class="col-sm-12">
                            <label class="radio-inline"><input type="radio" ng-click="radio(1)" name="optradio" />ریال</label>
                        </div>
                        <div class="col-sm-12">
                            <label class="radio-inline"><input type="radio" ng-click="radio(2)" name="optradio" />هزار ریال</label>
                        </div>
                        <div class="col-sm-12">
                            <label class="radio-inline"><input type="radio" ng-click="radio(3)" name="optradio" />میلیون ریال</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container my-margin-top right-align">
        <h3 class="fontchange my-margin-top">سایز نمایش اعداد جداول</h3>
        <hr>
        <div class="row my-margin-top">
            <div class="col-sm-12 center my-margin-top">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3" style="padding-left: 40px">
                        14px<br>|
                    </div>
                    <div class="col-sm-3" style="padding-left: 112px;">
                        16px<br>|
                    </div>
                    <div class="col-sm-3" style="padding-left: 178px">
                        18px<br>|
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <form>
                    <input type="range" name="foo" id="points-font" min="14" max="18" step="2" style="width: 60%" ng-model="size" ng-change="tablefontChange(size)"
                    />
                </form>
            </div>
        </div>
    </div>
    <footer class="container-fluid container-filter" ng-include="'modules/footer.html'"></footer>
</body>

</html>