<!DocTYPe html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#435761" data-react-helmet="true">
    <title>اریس رایانه</title>
    <link href="assets/styles/bootstrap.min.css" rel="stylesheet">
    <link href="assets/styles/font-awesome.min.css" rel="stylesheet">
    <link href="assets/styles/main.css" rel="stylesheet">
    <link rel="icon" href="media/ArmAris.jpg" sizes="200*200">
    <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/bundle.js"></script>
    <script src="assets/scripts/unique.min.js"></script>
    <script src="assets/scripts/main.js"></script>
    <style>
        h4 {
            text-align: right;
            direction: rtl;
            padding-right: 10px;
        }

        h4 i {
            float: left;
            padding-left: 5px;
        }
        .tools-logo{
            margin-top: 15px;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="theme()">
    <nav class="border" ng-class="userColor" ng-include="'modules/navigation.html'">
    </nav>
    <div class="contianer" style="padding: 0 15px;">
        <div class="row">
            <div class="col-sm-2 col-sm-push-10 center">
                <div class="row my-padding">
                    <div class="col-sm-12 my-padding-5 my-margin-top" ng-class="userColor" style="margin-left: -12px">
                        <h4 class="pointer fontchange" style="color: white" ng-click="themeElemanChange(1)">
                            انتخاب رنگ پس زمینه<i class="fa fa-paint-brush"></i>
                        </h4>
                        <h4 class="pointer fontchange" style="color: white" ng-click="themeElemanChange(2)">
                            انتخاب فونت<i class="fa fa-text-width"></i>
                        </h4>
                        <h4 class="pointer fontchange" style="color: white" ng-click="themeElemanChange(3)">
                            زمان خواب تصویر<i class="fa fa-tv"></i>
                        </h4>
                    </div>
                    <div class="col-sm-12" style="margin-left: -12px;" ng-include="'modules/tools.html'"></div>
                </div>
            </div>
            <div class="my-margin-top col-sm-10 col-sm-pull-2">

                <div style="box-sizing: border-box;margin-left: 65px">
                    <div class="row">
                        <div class="col-sm-12 row" ng-if="themeEleman == 1">
                            <div class="col-sm-12">
                                <div class="my-padding color-select center row first-color" ng-click="colorChanger('1')">
                                    <div class="col-sm-4" style="border-right: 1px dashed white">
                                        <img src="media/pic.jpg">
                                    </div>
                                    <div class="col-sm-8 center">
                                        <i class="fa fa-check-circle-o color-icon" id="color1"></i>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12 my-margin-top">
                                <div class="my-padding color-select center row second-color"  ng-click="colorChanger('2')">
                                    <div class="col-sm-4" style="border-right: 1px dashed white">
                                        <img src="media/pic1.jpg">
                                    </div>
                                    <div class="col-sm-8 center">
                                        <i class="fa fa-check-circle-o color-icon" id="color2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 my-margin-top">
                                <div class="my-padding color-select center row third-color" ng-click="colorChanger('3')">
                                    <div class="col-sm-4" style="border-right: 1px dashed white">
                                        <img src="media/pic2.jpg">
                                    </div>
                                    <div class="col-sm-8 center">
                                        <i class="fa fa-check-circle-o color-icon" id="color3"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-sm-12" ng-if="themeEleman == 2" ng-init="theme()">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="font-selector row" ng-class="userSubColor" ng-click="fontChanger('1')" style="font-family: 'samim'">
                                        <div class="col-sm-2 center">

                                            <i class="fa fa-check-circle-o hide theme-check" id="firstcheck"></i>
                                        </div>
                                        <div class="col-sm-10 right-align" style="border-left: 1px dashed white">
                                            این متنی برای مشاهده نوع فونت انتخابی شما میباشد <br> این متنی برای مشاهده نوع
                                            فونت انتخابی شما میباشد <br> این متنی برای مشاهده نوع فونت انتخابی شما میباشد
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="font-selector row" ng-class="userSubColor" ng-click="fontChanger('2')" style="font-family: 'iran-sans'">
                                        <div class="col-sm-2 center">
                                            <i class="fa fa-check-circle-o theme-check" id="secondcheck"></i>
                                        </div>
                                        <div class="col-sm-10 right-align" style="border-left: 1px dashed white">
                                            این متنی برای مشاهده نوع فونت انتخابی شما میباشد <br> این متنی برای مشاهده نوع
                                            فونت انتخابی شما میباشد <br> این متنی برای مشاهده نوع فونت انتخابی شما میباشد
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="font-selector row" ng-class="userSubColor" ng-click="fontChanger('3')" style="font-family: 'dubai'">
                                        <div class="col-sm-2 center">
                                            <i class="fa fa-check-circle-o hide theme-check" id="thirdcheck"></i>
                                        </div>
                                        <div class="col-sm-10 right-align" style="border-left: 1px dashed white">
                                            این متنی برای مشاهده نوع فونت انتخابی شما میباشد <br> این متنی برای مشاهده نوع
                                            فونت انتخابی شما میباشد <br> این متنی برای مشاهده نوع فونت انتخابی شما میباشد
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="font-selector row" ng-class="userSubColor" ng-click="fontChanger('4')" style="font-family: 'shabnam'">
                                        <div class="col-sm-2 center">
                                            <i class="fa fa-check-circle-o hide theme-check" id="forthcheck"></i>
                                        </div>
                                        <div class="col-sm-10 right-align" style="border-left: 1px dashed white">
                                            این متنی برای مشاهده نوع فونت انتخابی شما میباشد <br> این متنی برای مشاهده نوع
                                            فونت انتخابی شما میباشد <br> این متنی برای مشاهده نوع فونت انتخابی شما میباشد
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="font-selector row" ng-class="userSubColor" ng-click="fontChanger('5')" style="font-family: 'sahel'">
                                        <div class="col-sm-2 center">
                                            <i class="fa fa-check-circle-o hide theme-check" id="fifthcheck"></i>
                                        </div>
                                        <div class="col-sm-10 right-align" style="border-left: 1px dashed white">
                                            این متنی برای مشاهده نوع فونت انتخابی شما میباشد <br> این متنی برای مشاهده نوع
                                            فونت انتخابی شما میباشد <br> این متنی برای مشاهده نوع فونت انتخابی شما میباشد
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-if="themeEleman == 3">
                            <div class="row">
                                <div class="col-sm-12 right-align" style="margin-bottom: 100px">
                                    <img src="media/sleep.jpg" style="width: 70%;margin: 0 auto;display: block">
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-push-8 fontchange">
                                            
                                        </div>
                                        <div class="col-sm-8 col-sm-pull-4">
                                            <select style="width: 50%;font-size: 14px" ng-model="saver" ng-change="screen(saver)">
                                                <option>یک دقیقه</option>
                                                <option>دو دقیقه</option>
                                                <option>سه دقیقه</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

    </div>
    <footer class="container-fluid container-filter" ng-class="userSubColor" ng-include="'modules/footer.html'">
    </footer>
</body>

</html>