$padding: 6px;
$color :red;
footer {
  ul {
    margin: 0;
    padding: 2 * $padding;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: $padding 12px;
    text-decoration: none;
    background-color: white;
    color:$color;
  }
  img {
    width: 50%;
    border-bottom: 1px solid black;
    display: block !important;
    margin: 0 auto;
  }
}