.color {
    background-color: #037bc0;
}
.sub-color {
    background-color: #f16521;
}
.system-color {
    background-color:  #27A9E1;
}
footer {
    background-color: #5bb0e2
}
.top-link {
    color: #5bb0e2;
}
.setting-link {
    color: #f36548;
}