@font-face {
	font-family: 'iran-sans';
	src: url('font/iran_sans.eot') format('eot'),
		url('font/iran-sans.woff') format('woff'),
		url('font/iran_sans.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'dubai';
	src: url('font/dubai.eot') format('eot'),
		url('font/dubai.woff') format('woff'),
		url('font/dubai.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'sahel';
	src: url('font/sahel.eot') format('eot'),
		url('font/sahel.woff') format('woff'),
		url('font/sahel.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'samim';
	src: url('font/samim.eot') format('eot'),
		url('font/samim.woff') format('woff'),
		url('font/samim.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'shabnam';
	src: url('font/shabnam.eot') format('eot'),
		url('font/shabnam.woff') format('woff'),
		url('font/shabnam.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
/*generals*/
*{
    box-sizing: border-box;
}
body, html {
    padding:0px;
    font-family: "iran-sans" !important;
    color: black;
    line-height: 1.8;
    cursor: context-menu;
    background-color: #F1F2F3 !important;
    font-size: 18px;
    min-height: 750px;
    width: 100%;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(77,99,111,0.5);
  outline: 1px solid rgba(77,99,111,0.5);
  border-radius: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "iran-sans";
}

img {
    width: 100%;
}

li {
    direction: rtl;
    list-style-type: none;
}

table {
    direction: rtl;
}

td {
    text-align: right;
}

th {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

i {
    margin-left: 10px;
}

hr{
    width: 80%;
}

label {
    color: gray;
    font-size: 14px;
    direction: rtl;
    font-family: "iran-sans";
    font-weight: normal;
    vertical-align: middle;
    display: inline-block;
}

tr:first-child > td > .fc-day-grid-event{
    height: 0;
    border: none;
}

tfoot {
    font-size: 14px;
}

footer {
    margin-top: 154px;
    margin-bottom: -15px !important;
    padding: 15px;
    height: 42px;
    position: fixed;
    bottom: 15px;
    right: 0;
    width: 100%;
    z-index: 2;
}

footer a {
    color: white;
    padding: 0px 10px;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

footer p {
    color: white;
    text-align: right;
    vertical-align: middle;
}

p{
    direction: rtl;
}

::-moz-selection { 
    color: white;
    background: #F16521;
}

::selection {
    color: white;
    background: #F16521;
}
/*end of generals*/
/*navigation*/
nav .modal{
    color: black;
}

.nav-filter {
    filter: blur(10px)
}

.logo-holder {
    height: 55px;
    margin-left: -5px;
    width: 14%;
}

.logo-holder img {
    height: 55px;
}

nav .modal input[type="radio"] {
    float: right !important;
    margin-left: 5px !important;
    margin-right: -5px !important;
}

nav i {
    font-size: 21px !important;
    margin: 0 20px !important;
    font-weight: 100 !important;
}

nav a {
    color: white;
}
.navbar-collapse {
    padding-left: 3px;
}
nav a:hover {
    color: white;
}

.nav>li>a {
    padding:  8px 6px;
    line-height: 0.429px;
    font-size: 16px;
}

.nav-tabs>li {
    float: right;
}

.nav-tabs > li.active > a:focus{
    background-color: gray;
}

.navbar-nav{
    float: right;
}

.aris-note {
    animation: aris;
    animation-duration: 1s;
    -ms-transform: scale(1, 1); 
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

#aris {
    padding: 1px;
    width: 105%;
    margin: 0 -14px;
}

#subnav i {
    padding:0px 10px;
}

#aris-logo {
        width: 12%;
        margin: 5px auto 5px;
        display: inline-block;
        height: auto;
}

#aris-typo {
    width: 24%;
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 10px;
    height: auto;
}

#search {
    height: 25px;
    border-radius: 5px !important;
    background-color: #3393CA;
    margin-left: 15px;
    padding-left: 15px;
    width: 0%;
    color: white;
}
/*end of navigation*/
/*full calendar*/
.calendar-margin {
    margin-top: 37px;
}

.fc-unthemed .fc-today {
    background-color: #00bfff !important;
}

.fc .fc-toolbar > *{
    color: #037BC0;
}
.fc button{
    font-size: 0.6em;
}
.fc-rtl .fc-basic-view .fc-day-top .fc-day-number {
    float: none;
    text-align: center;
    vertical-align: middle;
}

.fc-row .fc-content-skeleton td{
    text-align: center;
}
.fc-row th {
    font-size: 7px;
    color: black;
}
.fc-event-container .fc-time-grid-event:nth-child(2) .fc-content  {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.fc-event-container .fc-time-grid-event:nth-child(3) .fc-content  {
    margin-top: 40px !important;
}

.fc-event-container .fc-time-grid-event:nth-child(4) .fc-content  {
    margin-top: 60px !important;
}

.fc-event-container .fc-time-grid-event:nth-child(5) .fc-content  {
    margin-top: 80px !important;
}

.fc-event-container .fc-time-grid-event:nth-child(6) .fc-content  {
    margin-top: 100px !important;
}

.fc-time-grid-container {
    overflow-y: scroll !important;
}

.fc-content {
    color: transparent;
    border: none;
    padding-top: 15px;
    position: static !important;
}

.fc-basic-view .fc-body .fc-row{
    max-height: 45px;
}

.fc-time{
    display: none;
}

.fc-event.fc-draggable {
    height: 0;
    border: none;
}

.fc-unthemed .fc-today{
    padding-bottom: 15px;
}

.fc-agendaWeek-button {
    display: none;
}

.fc-time-grid .fc-content-skeleton tbody tr .fc-content-col .fc-event-container .fc-content .fc-title{
    right: 85px;
    color: white;
}

.fc-time-grid {
    position: static;
}

.fc-time-grid .fc-content-skeleton tbody tr .fc-content-col .fc-event-container .fc-content::before{
    display: none;
}

.fc-time-grid .fc-content-skeleton tbody tr .fc-content-col .fc-event-container .fc-content div,.fc-time-grid .fc-content-skeleton tbody tr .fc-content-col .fc-event-container .fc-content .fc-time {
    z-index: 100;
    color: white;
    position: absolute !important;
    font-size: 18px;
}

.fc-state-default.fc-corner-right{
    border-radius: 0 !important;
}

.fc-state-default.fc-corner-left {
    border-radius: 0 !important;
}

.fc-button {
    background-color: rgba(255,255,255,0);
    box-shadow: none !important;
    color: #037BC0 !important;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.fc-state-default {
    background-image: none !important;
}

.fc-right {
    border-radius: 0 !important
}

.fc-view-containe{
    text-align: center;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{
    float: none;
}

.fc-ltr .fc-list-heading-main{
    float: none;
}

.fc-content::before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 20px solid #F16521;
    border-left:20px solid transparent;
    position: absolute;
    bottom: -6px;
    right: -2px;
}

.fc-content-skeleton tbody tr {
    top: 10px;
}

.fc-content-skeleton a{
    color: black;
}

.fc-list-heading-alt {
    color: white !important;
}

.fc-list-heading-alt {
    color: white !important;
}

.fc-time-grid-event .fc-content {
    overflow: scroll;
}

#event:before {
    content: " ";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    left: 100px;
    top: -9px;
}

#event {
    width: 45% !important;
    box-shadow: 2px 4px 12px gray;
    position: absolute;
    top: 50px;
    left: 133px;
    direction: rtl;
    display: none;
    z-index: 100;
    border-radius: 5px;
}

#calendar {
    max-height: 470px;
    overflow: hidden;
    margin-bottom: 15px;
}

.fc th, .fc td, .fc hr, .fc thead, .fc tbody, .fc-row{
    background: rgba(255,255,255,1) !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
}

.fc-view-container *, .fc-view-container *::after, .fc-view-container *::before{
    color: black;
}
/*end od calendar*/
/*grid system*/
.badging{
    position: absolute;
    top: 4px;
    right: 10%;
    display: inline-block;
    animation: aris;
    animation-duration: 1s;
    border-radius: 50%;
    padding: 0px 8px;
    font-size: 14px;
}

#error {
    margin-top: 10%;
    overflow: hidden;
}

.side-tool {
    /* position: fixed;
    height: 86.5vh; */
    width: 192px;
    background-color: rgba(255,255,255,0.8);
    margin-top: -25px;
    margin-left: -12px;
    height: 563px;
    /* width: 0px;
    top: 63px; */
    /* right: 0;
    z-index: 100; */
}

.side-tool .border h6,.side-tool .border i {
    color: #C1B49A;
}
.side-tool h6 i{
    font-size: 10px;
}
.side-tool .border i:hover,.side-tool .border p{
    color: #C1B49A;
}
.side-filter {
    position: fixed;
    height: 100em;
    top: 0;
    right: 0;
    z-index: 99;
    filter: blur(30px);
    background-color: rgba(255,255,255,0.5);
}

#alarm {
    max-height: 168px;
    /*overflow: scroll;*/
}
.my-margin-top {
    margin-top: 15px;
}

.my-col-sm-6 .sub-system {
    min-height: 80px;
    position: relative;
    animation: aris;
    animation-duration: 2s;
    border-radius: 2px;
}

.my-col-sm-6 {
    padding: 0px 7px 0px 6px;
}

.my-col-sm-6 i {
    font-size: 41px;
    margin: 19px auto 0px;
}

.my-col-sm-6 a {
    color: white;
    text-decoration: none;
}

.chart {
    color: white;
}

.ct-series-b .ct-bar,.ct-series-a .ct-bar,.ct-series-c .ct-bar,.ct-series-e .ct-bar,.ct-series-f .ct-bar,.ct-series-g .ct-bar{
    stroke: #F6921E!important;
}

.ct-series-d .ct-bar{
    stroke: #F6921E;
}

.ct-grid{
    stroke: white;
}

.ct-label{
    color: white;
}

.white-background .ct-label {
    color: black;
}

.my-well {
    border: 1px solid gray;
    margin: 0 -8px;
}

.transform {
    transition: box-shadow 1s;
}

.transform .system-icon,.transform h4, .transform img {
-webkit-transition:  text-shadow 1s,transform 1s; 
    transition:  text-shadow 1s,transform 1s;
}

.transform:hover {
    box-shadow: 10px 15px 20px rgba(0,0,0,0.5);
}

.transform:hover h4 {
    text-shadow: 7px 12px 12px rgba(0,0,0,0.7);  
}

.transform:hover .system-icon, .transform:hover img {
    transform: rotateY(180deg);
    text-shadow: -10px 15px 20px rgba(0,0,0,0.7); 
}

.border { 
    color: #f5f7f8;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); */
}

.rounded-pic {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    margin: 3px 15px 0px 15px;
    display: inline-block;
}
.info-pic{
    height: 60px;
    width: 60px;
    margin:0 auto;
}
.white-background {
    background-color: #fff !important;
    color: #000;
}

.left-align {
    text-align: left;
}

.center {
    text-align: center;
}

.my-padding {
    padding:  0 6px !important;
}

.hide {
    display: none;
    width: 0%;
}

.pointer {
    cursor: pointer;
}

.red {
    color: red;
}

.green {
    color: green;
}

.color-select {
    border-radius: 5px;
}

.color-select img {
    margin: 5px 0;
}
.color-select i {
    color: white;
    font-size: 71px;
    margin-top: 65px;
    display: none;
    animation: transform3d 3s infinite;
}

.search-bar {
    direction: rtl;
    padding-top: 10px;
}

.search-bar form {
    margin-right: -235px;
}

.sub-system {
    min-height: 214px;
    text-align: center;
    margin-top: 17px;
}

.sub-system p {
    font-size: 15px;
    text-align: right;
    padding: 2px 7px;
}

.my-textarea {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    margin-top: 5px;
    text-align: right;
    font-size: 12px;
    width: 100%;
}

.square {
    min-height: 176px;
    animation: aris;
    border-radius: 2px;
}

.aris-animation {
    animation: unload;
    animation-duration: 1.5s;
}

.my-padding-5 {
    padding: 5px !important;
}

.right-align {
    text-align: right;
}

.system-li>h4{
    margin: 10px -7px 0 0px;
    color: white;
    padding: 10px;
}

.system-li{
    margin: 0px -7px -10px -8px;
    color: white;
    padding-right: 20px;
}

.document-table {
    max-height: 280px;
    /*position: relative;*/
    /*overflow-y: scroll;*/
}

.shadow {
    box-shadow: 0px 4px 8px rgba(0,0,0,0.12);
    min-height: 45px;
}

.shadow p {
    direction: rtl;
     margin-top: 7px;
}

.shadow > i {
    font-size: 24px;
    vertical-align: middle;
    margin: 7px 0 7px -7px;
}

.subsystem {
    position: absolute;
    top: 45px;
    right: 0px;
    width: 100%;
    z-index: 2;
    display: none;
    box-shadow: 10px 15px 20px rgba(0,0,0,0.5);
}

.geometric {
    /*background-image: url("../../media/4.png");*/
    background-size: cover;
    color: white;
    padding-bottom: 15px;
    width: 96%;
    margin: 5px auto;
}

.chat {
    background-color: #00bfff;
    color: white;
    padding: 5px 10px;
    margin-top: 5px;
    text-align: right;
    border-radius: 5px;
}

.chat::before {
    content: "";
    border-right: 15px solid transparent;
    border-bottom: 15px solid #00bfff;
    position: absolute;
    border-bottom-right-radius: 3px;
    bottom: 10px;
    right: 3px;
}

.chatresponse {
    background-color: #3eb65c;
    color: white;
    padding: 5px 10px;
    margin-top: 5px;
    text-align:right;
    border-radius: 5px;
    display: inline-block;
    margin-left: 20px;
}

.chatresponse::before {
    content: "";
    border-bottom-left-radius: 3px;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #3eb65c;
    position: absolute;
    bottom: 10px;
    left: 24px;
    
}

.container-fluid {
    padding:0 20px !important;
}

.right-float {
    float: right !important;
}

.system-icon {
    font-size: 90px;
    margin-top: 30px;
    
}

.fa-bars {
    margin: 22px 0 0 45px;
    font-size: 27px;
}

.my-modal{
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    border: none;
    margin-top: 100px;
}

.my-modal::before {
    content: '';
    filter: blur(10px);
}

.my-modal i {
    font-size: 44px;
    color: white;
    margin: 0 !important;
}

.modal-container {
    margin: 10px auto;
    border-radius: 50%;
    padding: 46px 0px;
    width: 169px;
    animation: aris 1s;
}

.modal-container h5 {
    color: white;
}

.my-modal i:hover {
    color: white !important;
}

.my-modal h3 {
    color: white;
    animation: aris;
    animation-duration: 1s;
    margin-top: 10px;
}

#loadRegister {
    display: none;
    z-index: 1;
}

.mycalendar {
    padding-bottom: 15px;
    position: relative;
}

.my-calendar {
    position: relative;
}

.my-calendar::after{
    content: '';
    display: inline-block;
    border-bottom: 15px solid #F6921E;
    border-left: 15px solid transparent;
    border-top:  15px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.my-calendar::before{
    content: '';
    display: inline-block;
    border-top: 15px solid #B7B4AD;
    border-right: 15px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.calendar-first-color ::after{
    content: '';
    display: inline-block;
    border-bottom: 30px solid #088FCE;
    border-left: 30px solid transparent;
    border-top:  30px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.calendar-second-color::after {
    content: '';
    display: inline-block;
    border-bottom: 30px solid #7ad190;
    border-left: 30px solid transparent;
    border-top:  30px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.calendar-third-color::after{
    content: '';
    display: inline-block;
    border-bottom: 30px solid #cebbf6;
    border-left: 30px solid transparent;
    border-top:  30px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.mycalendar::before {
    content: '';
    display: inline-block;
    border-top: 30px solid #B7B4AD;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer-margin {
    margin-bottom: 67px;
}

.tools-logo {
    width: 39%;
    margin-top: 15px;
}

/*end of grid system*/

/*lists and tables and forms*/
.tabling{
    position: relative;
    animation: table-move 1.5s;
}

.editor {
    display: none;
}

.table tbody > tr > td {
    padding: 3px;
    font-size: 14px;
}

#user-info li{
    direction: rtl;
    text-align: right;
    padding: 5px;
    margin-right: 5px;
    background-color: #F5F7F8;
}

#user-info  a{
    color: black;
    background-color: #F1F2F3;
}

#user-info li a:hover{
    color: #00bfff;
}

#user-info li:hover, #setting-bar li:hover {
    /*background-color: #737373;*/
    color: #00bfff;
}

.my-form {
    width: 171px !important;
    display: inline-block; 
    margin-top: 3px;
    text-align: right;
    height: 27px;
}

.form-group {
    margin-top: 5px;
    
}

.dropdown-menu  li:hover {
    background-color: #737373;
    color: white !important;
}

.log-form {
    animation: aris;
    animation-duration: 1s;
}

.input-group-addon {
    background-color: #fff !important;
    border: none;
    border-radius: 0px 25px 25px  0px !important;
}

.form-control1 {
    border: none;
    width: 0% ;
    border-radius: 25px !important;
    box-shadow: none !important;
    display: inline-block;
    direction: rtl;
}

.my-button {
    font-size: 14px;
    color: white;
    border-radius: 0;
    margin: 5px 5px;
}

.button-color {
    border-radius: 2px;
}

.table-container {
    max-height: 350px;
    position: relative;
}

.table-container th {
    text-align: right;
}

.my-table td,.my-table  th {
    font-size: 20px !important;
    padding: 15px !important;
}

.my-table tr,.my-table tr th {
    color: gray;
}

.my-table tr:hover,.my-table tr th:hover{
    color: black;
}

.my-ul li {
    color: gray;
}

.nav-tabs>li a{
    background-color: orange;
    color: white!important;
}

.tab-pane {
    background-color: orange;
}

.nav-tabs>li:nth-child(1) a{
    background-color: orange;
}

.tab-pane:nth-child(1) {
    background-color: orange;
}

.nav-tabs>li:nth-child(2) a{
    background-color: #00bfff;	
}

.tab-pane:nth-child(2) {
    background-color: #00bfff;
}

.nav-tabs>li:nth-child(3) a{
    background-color: #ff00ff;	
}

.tab-pane:nth-child(3) {
    background-color: #ff00ff;
}

.nav-tabs>li:nth-child(4) a{
    background-color: #00ff40;	
}

.tab-pane:nth-child(4) {
    background-color: #00ff40;
}

select option {
    font-size: 12px !important;
    background-color: gray !important;
    color: white !important;
}

.document-table tfoot {
    position: absolute;
    bottom: 0px;
    right: 14px;
    background-color: rgba(3,123,191,0.8);
    color: white;
    font-size: 14px;
}

.document-table tfoot td {
    padding: 3px 8px !important;
}

.document-table thead {
    position: absolute;
    top: 30px;
    right: 14px;
    background-color: white;
    border-top: 1px solid gray;
    box-shadow: 0px 3px 5px lightgray;
}

tfoot tr td {
    padding: 0;
}

/*end lists tables and forms*/
/*modals*/
#tablePlus label{
    font-size: 19px;
}

#tablePlus input{
    height: 30px !important;
    color: gray;
}

.modal-body {
    min-height: 440px;
    line-height: 0.5cm
}

.modal-body input {
    height: 20px;
}

.modal-body p{
    font-size: 14px;
}

.modal-body i:hover {
    color: red;
    cursor: pointer;
}

/*end of modals*/
/*animations*/
@keyframes table-move{
    form{
        left: -1300px;
    }
    to{
        left: 0;
    }
}

@-webkit-keyframes table-move{
    form{
        left: -1300px;
    }
    to{
        left: 0;
    }
}

@keyframes rotate {
    from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
     }
    to {
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    }
}

@-webkit-keyframes rotate {
    from {
    -ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
     }
    to {
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
    }
}

@keyframes rotate-back {
    from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
     }
    to {
    -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg);
    }
}

@-webkit-keyframes rotate-back {
    from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
     }
    to {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    }
}

@keyframes transform3d{
    from {
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg);
     }
    to {
    -webkit-transform: rotateY(360deg); 
    transform: rotateY(360deg);
    }
}

@-webkit-keyframes transform3d {
    from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
     }
    to {
    -webkit-transform: rotateY(360deg); 
    transform: rotateY(360deg);
    }
}

@keyframes transform {
    from {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
     }
    to {
    -ms-transform: scale(1.5, 1);
    -webkit-transform: scale(1.5, 1); 
    transform: scale(1.5, 1);
    }
}

@-webkit-keyframes transform {
    from {
    -ms-transform: scale(1, 1); 
    -webkit-transform: scale(1, 1); 
    transform: scale(1, 1);
     }
    to {
    -ms-transform: scale(1.5, 1);
    -webkit-transform: scale(1.5, 1.); 
    transform: scale(1.5, 1);
    }
}

.color-animation {
    animation: aris 1s;
}

@keyframes unload {
    from {
        opacity: 0
     }
    to {
        opacity: 1
    }
}

@-webkit-keyframes unload {
    from {
        opacity: 0
     }
    to {
        opacity: 1
    }
}

@keyframes aris {
    from {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0); 
    transform: scale(0, 0);
    display: none;
     }
    to {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1); 
    transform: scale(1, 1);
    display: block;
    }
}

@-webkit-keyframes aris{
    from {
    -ms-transform: scale(0, 0); 
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    display: none;
     }
    to {
    -ms-transform: scale(1, 1); 
    -webkit-transform: scale(1, 1.); 
    transform: scale(1, 1);
    display: block;
    }
}

@keyframes animation1 {
    0% {
    opacity: 0;
    width: 0%;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

@-webkit-keyframes animation1 {
    0% {
    opacity: 0;
    width: 0%;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    min-height: 0;
  }

  100% {
      min-height: 170px;
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    min-height: 0;
  }

  100% {
      min-height: 170px;
  }
}

@keyframes rotateIn {
  0% {
    transform: scale(0,0);
    opacity: 0;
  }

  100% {
      transform: scale(1,1);
    opacity: 1;
  }
}

@-webkit-keyframes rotateIn {
  0% {
    transform: scale(0,0);
    opacity: 0;
  }

  100% {
    transform: scale(1,1);
    opacity: 1;
  }
}

@keyframes animation4{
    from{
        width: 0;
        float: right;
    }
    to{
        width: 100%;
        float: right;
    }
}

@-webkit-keyframes animation4{
    from{
        width: 0;
        float: right;
    }
    to{
        width: 100%;
        float: right;
    }
}

@keyframes animation5{
    from{
        -webkit-transform: rotateX(30deg); /* Chrome, Safari, Opera  */
        transform: rotateX(30deg);
    }
    to{
        -webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera  */
        transform: rotateX(0deg);
    }
}

@-webkit-keyframes animation5{
   from{
        -webkit-transform: rotateX(30deg); /* Chrome, Safari, Opera  */
        transform: rotateX(30deg);
    }
    to{
        -webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera  */
        transform: rotateX(0deg);
    }
}

.animation{
    animation: aris 1s;
}

.animation1 {
    animation: animation1 1s;
}

.animation2 {
    animation: slideInDown 1s;
}

.animation3 {
    animation: rotateIn 1s;
}

.animation4 {
    animation: animation4 1s;
}

.animation5 {
    animation: animation5 1s;
}

/*end of aimations*/
/*fonts, links and badges*/
.active a {
    color: white !important;
}

.border-right {
    border-right: 1px dotted white;
}

.border-left {
    border-left: 1px dotted white;
    padding: 0 28px;
    margin-right: 149px;
}

.first-color {
    background-color: #037BC0 !important;
}

.second-color {
    background-color: #F6921E !important;
}

.third-color {
    background-color: #4d636f!important;
}

.first-subcolor {
    background-color: #F16521 !important;
}

.second-subcolor {
    background-color: #C1B49A !important;
}

.third-subcolor {
    background-color: #4CAF50 !important;
}

.first-systemcolor {
    background-color: #27A9E1 !important;
}

.second-systemcolor {
    background-color: #F9AE40 !important;
}

.third-systemcolor {
    background-color: #5e7987 !important;

}

.editTable {
    background-color: yellow !important;
}

.font {
    font-size: 30px;
    vertical-align: middle;
    margin-left: 2px;
}

.font1 {
    margin-top: -4px;
    margin-left: -4px;
    font-size: 26px;
    vertical-align: middle;
}

.badge {
    position: relative;
    top: -10px;
    left: -11px;
    display: inline-block;
    animation: aris;
    animation-duration: 1s;
    font-weight: normal;
}

.top-link {
    color: #037BC0;
    margin-right: 2px;
    display: inline-block;
    font-size: 10px;
    margin-top: 10px !important;
    direction: rtl;
    padding: 5px 10px;
    border-left: 1px solid #037BC0;
}

.top-link:hover {
    color: #037BC0;
    text-decoration: none;
}

.aris-badge {
    position: absolute;
    top: 2%;
    left: 57%;
    font-size: 14px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    color: #F6921E;
    font-weight: normal;
    padding: 1px 7px;
    animation: aris;
    animation-duration: 1s;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1); 
    transform: scale(1, 1);
    display: inline-block;
    font-weight: bold;  
}

.fa-close {
    color: white;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
}

.fa-close:hover {
    color: #F16521;
}

.fa-comment {
    animation: aris;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.pagination > .active > a ,.pagination > .active > a:hover, .pagination > .active > a:focus{
    background-color: #F16521;
    border-color: #F16521;
}
.myday {
    position: absolute;
    top: 25%;
    text-align: center;
    right: 40%;
    color: #F6921E !important;
    font-size: 24px;
}

/*end of fonts and badges*/
/*note*/
#note {
    position: absolute;
    top: 49px;
    left: 177px;
    display: none;
    box-shadow: 2px 4px 12px gray;
    z-index: 100;
}

#note:before {
    content: " ";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    left: 18px;
    top: -10px;
}

.note {
    width: 90%;
    background-color: orange;
    margin: 5px auto;
}

.note .fa-close {
    font-size: 14px;
    padding: 5px;
}

/*end of note*/
/*user info*/
#user-info {
    box-shadow: 2px 4px 12px gray;
    width: 37%;
    position: absolute;
    top: 65px;
    left: 7px;
    display: none;
    z-index: 5;
    background-color: rgba(255,255,255,0.9);
}

#user-info:before {
    content: " ";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    left: 19px;
    top: -10px;
}

/*end of user info*/
/*setting*/
.setting-link {
    border-bottom: 1px solid #F16521;
    display: block;
    font-size: 14px;
    margin: 15px 0 0;
}

.radio-inline input {
    float: right !important;
    margin-left: 15px !important;
}

.setting-link:hover {
    color: #F16521;
}

.setting-info-bar i {
    font-size: 18px !important;
    color: white;
    margin: 0 !important;
}

.font-selector {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.font-selector i{
    font-size: 36px !important;
    margin-top: 35px !important;
    animation: transform3d 3s infinite;
}

.setting-info-bar i:hover {
    color: white !important;
}

#setting-bar{
    width: 300%;
    box-shadow: 2px 4px 12px gray;
    position: absolute;
    top: 55px;
    left: 0px;
    direction: rtl;
    display: none;
    z-index: 5;
}

#setting-bar:before {
    content: " ";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(255,255,255,0.9);
    position: absolute;
    left: 20px;
    top: -9.6px;
}

.setting:hover {
    color:#037BC0;
}

#chatbox{
    position: fixed;
    bottom: 52px;
    right: 7px;
    width: 14.65%;
    background-color: #037BC0;
    text-align: right;
    color: white;
    font-size: 13px;
    z-index: 100;
    display:none;
}

.message-icon {
    font-size: 14px;
    background-color: inherit !important;
    color: #4d636f;
}

.message-icon:hover {
    color: #737373;
}
/*end of message and chat box*/
/*tree view*/
.tree-border {
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
    text-align: right;
    padding-right: 15px;
    direction: rtl;
}

.tree-view {
    padding: 0px 15px 0px 0px;
    text-align: right;
    direction: ltr;
    position: relative;
}

.tree-view input {
    padding-left: 5px;
}

.treeBackground {
    background-color: #00bfff;
    color: white;
    border-radius: 5px;
}

.redNode {
    background-color: #d62d20;
    color: white;
    border-radius: 5px;
}

.editingTree {
    display: none;
}

.plusNode {
    display: none;
}

.tree-span {
    padding: 0 20px;
}

.editAlarm {
    color: red;
    animation: testing 0.5s infinite alternate;
}

/*.tree-view::before{
    border-right: 1px dotted #00bfff;
    content: '';
    position: relative;
    top: 19px;
    right: 6px;
}*/

.tree-border i {
    font-size: 16px;
    float: right;
    color: #00bfff;
    padding: 4px 5px;
    border-radius: 50%;
    margin-top: 3px;
    cursor: pointer;
}

/*end of tree view*/
/*log in page*/
.log-in {
    margin: 0 auto;
     background-image: url('../../media/2.jpg');
}

.ieMessage p{
    color: orangered;
    animation: unload 0.5s alternate infinite;
    width: 100%;
}

.log {
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    padding: 20px 50px 50px 50px;
    border-radius: 5px;
    vertical-align: middle;
    margin-top: 37%;
}

.login-input {
    width: 100%;
    border-radius: 5px !important;
    background-color: rgba(0,0,0,0);
    margin-top: 12px;
    color: white;
}

.loading-login {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100em;
    z-index: 1500;
    background-color: #3393CA;
    opacity: 1;
}

.loading-login1 {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100em;
    z-index: 1500;
    display: none;
}

.loading-login img, .loading-login1 img {
    width: 25%;
    height: auto;
    display: block;
    margin: 80px auto;
    animation: aris 2s;
}

.fox {
    animation: transform3d 3s infinite !important;
}
/*end of log in page*/
/*tabs*/
.tab-pane {
    color: white;
    margin: -20px -2px;
}

.tab-pane h3 {
    direction: rtl;
}

/*end of tabs*/
.dropdown-border {
    background-color: rgba(255,255,255,0.9);
}

.rotate {
    animation: rotate;
    animation-duration: 0.3s;
}

.rotate-back {
    animation: rotate-back;
    animation-duration: 0.65s;
}

.transform3d{
    animation: transform3d 3s;
}

.unload {
    width: 100%;
    animation: unload 3s alternate infinite;
}

#chart3 {
    height: 435px;
}

#chart2 {
    height:435px;
}

#mail {
    width: 30%;
    position: fixed;
    bottom: 0;
    right: 20px;
    animation: aris;
    animation-duration: 0.5s;
    z-index: 2;
}

.mail-button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    padding: 15px 17px;
    color: white;
    z-index: 2;
    border-radius: 50%;
}

#search {
    height: 25px;
    border-radius: 5px !important;
}

.ct-point {
    stroke-width: 3px;
}

.ct-grid{
    stroke-width: 0.5px;
}

#chart1 {
    border-radius: 2px;
}

#alarm {
    min-height: 170px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -40px;
    position: relative;
}

#alarm p{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
}

#alarm img{
    height: 222px;
}

.alarmTitle {
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    padding:0px 5px;
    margin: 0 5px;
}

.alarmTitle h4 {
    display: inline-block;
}

.alarmTitle i {
    font-size: 14px;
    margin: 0 5px;
}

.icon-bar {
    background-color: white;
}

.searchResult {
    position: absolute;
    color: #037BC0;
    right: -14px;
    width: 100%;
    top: 29px;
    border-radius: 5px;
    z-index: 5;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    max-height: 200px;
}

.searchLink {
    padding: 0 5px;
    margin: 0 -15px;
}

.searchLink:hover {
    background-color: #088FCE;
    color: white;
    border-radius: 5px;
}

.searchContainer{
    display: inline-block;
    position: relative;
    width: 37%;
}

.selected {
    background-color: #088FCE;
    color: white;
    border-radius: 5px;
}

.subsystem p{
    margin: 0 -15px;
    padding: 0 15px;
    border-bottom: 1px solid #EEEEEE;
}

.subsystem p:last-child {
    border: 0px solid white;
}

.subsystem p:hover{
    background-color: #EEEEEE !important;
    color: #088FCE;
}

body {
  background-color: #eee;
}

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px; 
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%; 
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg); }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; }
}

@keyframes color {
  100%,
  0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%,
  90% {
    stroke: #ffa700; }
}

@media screen and (max-width: 1316px){
    .fa-bars {
        margin: 22px 5px;
    }

    #setting-bar{
        width: 25%;
        left: 296px;
    }

    /*#user-info{
        width: 25%;
        left: 122px;
    }*/
    #chart3 {
    height: 163px;
    }

    .top-link {
        font-size: 14px;
    }

    .square {
        height: 94.43px;
    }

    .aris-note {
        width: 100% !important;
        padding: 9px !important;
    }

    .logo-holder {
        height: 64px;
        margin-right: -5px;
    }

    .aris-badge {
        bottom: 46px;
        left: 50px;
    }

    .shadow {
        min-height: 60px;
    }

    .shadow > i {
        /*font-size: 60px;*/
        margin: 18px -5px;
    }

    .shadow p {
        font-size: 14px !important;
       
    }

    .subsystem p {
        font-size: 14px;
    }
    
}
   @media screen and (max-width: 1200px){
    .square {
        min-height: 171.83px;
        overflow: hidden;
    }

    .square h4{
        margin-top: 25px !important;
    }
    
    .my-col-sm-6 .sub-system{
        min-height: 80px;
        height: 80px;
        overflow: hidden;
    }

    .my-col-sm-6 i{
        margin: 20px auto;
    }

    .myday {
        top: 38%;
    }

    .alarm-con .border{
        min-height: 172px !important;
    }

    #alarm{
        min-height: 172px;
        top: -14px;
    }

    #alarm img{
        height: 172px;
    }

    #chart1 {
        height: 328px !important;
    }

} 
@media screen and (max-width:1000px){
    .alarmTitle i{
        font-size: 14px !important;
    }

    .square {
        min-height: 129.83px;
        overflow: hidden;
    }

    .square h4{
        margin-top: 25px !important;
        font-size: 16px;
    }

    .system-icon {
        font-size: 45px;
        margin-top: 25px;
    }

    .my-col-sm-6 i{
        margin: 11px auto;
        font-size: 36px;
    }

    .shadow > i {
        margin: 9px -5px;
    }

    .my-col-sm-6 .sub-system{
        min-height: 59px;
        height: 59px;
    }

    .myday {
        top: 35%;
    }

    .shadow {
        min-height: 42px !important;
        padding: 0px;
    }

    .alarm-con .border{
        min-height: 127px !important;
    }

    #alarm img{
        height: 127px;
    }

    #chart1 {
        height: 244px !important;
    }
}
@media screen and (max-width: 930px){
    
    .shadow {
        min-height: 60px !important;
    }

    nav i {
        margin: 0 11px !important;
    }
}

@media screen and (max-width:765px) {
    .logo-holder {
        width: 100%;
    }

    .tools-logo{
        width: 21%;
        margin-top: 5px;
    }

    .my-padding ,.alarm-con{
        padding: 0 44px !important;
    }

    .my-col-sm-6 {
        padding: 0px 32px 0px 28px;
    }

    .searchContainer{
        position: static;
    }

    .searchResult {
        width: 35%;
        right: 206px;
        top: 85px;
    }

    .footer-margin {
        margin: 0px 15px 76px 3px;
     }

    .calendar-margin{
        margin-top: 5px;
    }

    footer{
        z-index: 5;
    }

    .responsive-margin{
        margin-bottom: 60px;
    }

    .span{
        display: block;
        padding: 0 20px !important;
        margin: 7px -4px 0 5px;
    }

    .letter {
        width: 93.5% !important;
    }

    #mail{
        width: 90% !important;
    }

    .border-left{
        margin: 15px;
    }

    .system-icon {
    font-size: 90px;
    margin-top: 30px;
    }

    #alarm{
        min-height: 238px;
    }

    footer p{
    display: none;
    }

    .document-table tfoot{
        position: static;
    }

    .document-table thead {
        position: static;
    }

    .nav{
        float: none !important;
        text-align: right;
        margin: 0;
    }

    .shadow {
        min-height: 35px !important;
    }

    .subsystem {
        position: static !important;
        width: 100%;
    }

    .right-float {
        float: none !important;
    }
    /*#user-info {
        width: 51%;
        top: 168px;
        left: 25px;
    }*/

    #setting-bar {
        width: 90%;
        left: 18px;
        top: 120px;
    }

    #setting-bar::before{
        left: 168px;
    }

    #note {
        left: 57px;
    }

    #note::before{
        left: 138px;
    }

    .responsive {
        position: absolute;
        top: -53px;
        left: 16px;  
    }

    /*.aris-badge {
        left: 221px;
    }*/
    
    #chatbox{
        width: 90%;
        z-index: 100;
    }

    .my-form {
        width: 65% !important;
        margin-right: 0;
    }

    .btn {
        width: 100%;
        margin-top: 15px;
    }

    .square {
        min-height: 200px;
    }

    .square h4{
        font-size: 22px;
    }

    .left-one {
        position: absolute;
        top: 18px;
        left: 22px;
    }

    .right-one{
        position: absolute;
        top: -26px;
        right: 22px;
    }

    .alarm-con .border{
        min-height: 222px !important;
    }

    .tools {
        width: 41%;
        float: right;
        margin: 0 10px;
    }

    .chart {
        margin: 0px auto 60px auto;
    }

    .myday{
        right: 43% !important;
    }

    .modal-container{
        padding: 47px 0;
        margin: 10px 112px !important;
        width: 41%;
    }

    .col-sm-push-11{
        text-align: right;
        padding-right: 31px;
    }

    .side-tool-calendar{
        overflow-y: scroll;
        max-height: 200px;
    }

    .side-tool .btn-danger{
        margin-left: 0 !important;
    }

    .document-table{
        max-height: none;
    }
    nav i{
        margin: 0 6px !important;
    }

    #aris-logo {
        width: 12%;
        margin: 0 auto;
        display: inline-block;
        height: 52px;
    }
}
.fa-power-off {
    animation: testing 2s infinite steps(1);
}

@keyframes testing {
    0%{
        color: black;
    }
    50%{
        color: red;
    }
}

@-webkit-keyframes testing {
   0%{
        color: black;
    }
    50%{
        color: red;
    }
}  
